.order-response {
  width: 1100px;
  margin: 10px auto;
}

.first-div, .second-div {
  background-color: #fff; 
  padding: 15px 20px;
}

.order-response p {
  margin-bottom: 0;
}

.first-div h4 {
  color: rgb(3, 3, 202);
}

.order-response .second-div {
    margin-top: 10px;
}
