<!--  *************    Product List (Eg, Mobiles -> Mi -> All Mi Mobiles List )    **************  -->

<div class="product-list">

   <!--  ******  START: SIDEBAR  ******  -->

   <div class="sidebar-container">
    <sidebar
      [propertiesList]="propertiesList"
      [ItemFilterProperties]="ItemFilterProperties"
    >
    </sidebar>
   </div>

   <!--  ******    END: SIDEBAR  ******  -->  


   <!-- =====================================  START: Content  ===================================== -->
    <div class="product-content">
        <div class="prod-header">
            <p>
                <span class="prod-category">Mi Mobiles </span>
                <span class="products-per-page text-muted">
                    <small>(Showing 1-24 products of {{countOfItems}} products)</small></span>
            </p>

            <ul class="sort">
                <li><strong>Sort By</strong></li>
                <li>Popularity</li>
                <li>Price -- Low to High</li>
                <li>Price -- High to Low</li>
                <li>Newest First</li>
            </ul><br>
        </div>

        <div class="items">
            <div class="item" *ngFor="let i of counterForItemsPerPage">

                <div class="item-image">
                    <img src="../../../assets/images/{{Items[i].image}}" (click)="goToProductDetails(i)"/>
                    <div class="checkbox mt-4">
                        <label>
                            <input type="checkbox" value="">
                            <span class="cr"><i class="cr-icon fas fa-check-square"></i></span>
                            Add to Compare
                        </label><br>
                    </div>
                </div>

                <div class="item-description" (click)="goToProductDetails(i)">
                    <h5 class="item-title">{{Items[i].title}}</h5>
                    <p><span class="item-ratings">{{Items[i].rating.stars}}<i class="fas fa-star icon-rating"></i></span>
                        <span class="text-muted ml-2">{{ Items[i].rating.ratingsCount | number }} Ratings &amp;
                            {{ Items[i].rating.reviewsCount | number }} Reviews</span></p>

                    <ul>
                        <li *ngFor="let feature of Items[i].features">{{feature}}</li>
                    </ul>
                </div>

                <div class="item-cost" (click)="goToProductDetails(i)">
                    <h3>₹{{Items[i].price | number}} <img src="../../../assets/images/fa_8b4b59.png" height="22px" /></h3>

                    <p><small class="txt-dec-lt mr-2">₹{{Items[i].MRP | number}}</small><small
                            style="color: green;">{{Items[i].discount}}% off</small></p>

                    <p *ngIf="Items[i].noCostEMI">No Cost EMI</p>
                    <p *ngIf="Items[i].exchangePrice">Upto <b>₹{{Items[i].exchangePrice | number}}</b> Off on Exchange</p>

                </div>

            </div>
        </div>

        <!-- **********************  START: Pagination  ********************** -->

        <div class="pagination">
            <div class="page-no">
                <p>Page {{selectedPage}} of {{countOfPages}}</p>
            </div>
            <div class="pages">

                <a (click)="goToPrevPage()" *ngIf="selectedPage > 1" 
                    style="color: #2196f3"
                >
                    PREVIOUS
                </a>

                <a 
                (click)="goToSelectedPage(page)" 
                *ngFor="let page of counterForPages"
                [class.active]="selectedPage === page"
                >
                    {{page}}
                </a>

                <a (click)="goToNextPage()" *ngIf="selectedPage < countOfPages"
                    style="color: #2196f3"
                >
                   NEXT
               </a>
            </div>
        </div>

         <!-- **********************  END: Pagination  ********************** -->

    </div>

    <!-- =====================================  END: Content  ===================================== -->
</div>