.product-list {
  box-sizing: border-box;
  display: flex;
  min-height: 85vh;
  align-items: flex-start;
}

.sidebar-container {
  background-color: #fff;
  flex: 1;
  margin-right: 8px;
}

/* Product content */

.product-content {
  background-color: #fff;
  flex: 4;
}

.prod-header p {
  margin-bottom: .5rem;
}

.sort {
  display: inline-flex;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0;
  margin-bottom: 0;
  font-size: 0.9rem;
}

.sort li {
  padding-right: 1.5em;
}

.prod-header {
  padding: 5px 10px;
}

.items {
  border-top: 1px solid#d2d2f1;
}

.items .item {
  display: flex;
  border-bottom: 1px solid #d2d2f1;
  padding: 15px;
  cursor: pointer;
}

.items .item:hover .item-title {
  color: #2196f3;
}

.items .item-image {
  flex: 1;
  text-align: center;
}

.items .item-image img {
  height: 220px;
  padding-top: 5px;
}

.items .item-image .checkbox {
  text-align: left;
}

.items .item-description {
  flex: 2;
  padding: 0px 10px;
}

.items .item-description span {
  font-size: 0.9em;
}

.items .item-description .item-ratings {
  padding: 3px 5px;
  background-color: green;
  color: white;
  border-radius: 2px;
}

.item-ratings .icon-rating {
  font-size: 10px;
  position: relative;
  bottom: 2px;
  margin-left: 2px;
}

.items .item-description ul {
  flex: 2;
  list-style: none;
  font-size: 0.9em;
  padding: 1em 0.5em;
}

.items .item-description ul li::before {
  content: "\2022"; /* Add content: \2022 is the CSS Code/unicode for a bullet */
  color: lightgrey; /* Change the color */
  font-weight: bold; /* If you want it to be bold */
  display: inline-block; /* Needed to add space between the bullet and the text */
  width: 1em; /* Also needed for space (tweak if needed) */
}

.items .item-cost {
  flex: 1;
  padding: 0px 15px;
  line-height: 0.5;
}

.items .item-cost:last-child {
  line-height: 1.1;
}

.items .item-cost img {
  margin-left: 1em;
  height: 22px;
  position: relative;
  bottom: 3px;
}

/**- PAGINATION  -**/
.pagination {
  display: flex;
  height: 75px;
  align-items: center;
  border-top: 1px solid#d2d2f1;
}

.pagination .pages {
  display: inline-block;
  flex: 3;
}

.pagination .page-no {
  flex: 1;
  font-size: 0.9em;
}

.pagination .page-no p {
  margin: auto 0 auto 15px;
}

.pagination .pages a {
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  cursor: pointer;
}

.pagination .pages a.active {
  background-color: #2196f3;
  border-radius: 50%;
  color: white;
}

.pagination .pages a:hover:not(.active) {
  border-radius: 50%;
  background-color: #ddd;
}

@media screen and (min-width: 1025px) {
  mobileview-sidebar {
    display: none;
  }
}

@media screen and (max-width: 1024px) {
  .sidebar-container {
    flex: 0;
    margin: 0;
  }

  .product-content {
    flex: 1;
  }

  .desktopview-sidebar {
    display: none;
  }
}

@media screen and (max-width: 585px) {
  ul.sort {
    margin-right: 0;
    justify-content: space-between;
  }

  .pagination .page-no {
    display: none;
  }

  .pagination .pages {
    flex: none;
    margin: auto;
  }
}

@media screen and (max-width: 850px) {
  .item {
    flex-wrap: wrap;
  }

  .item .item-image {
    order: 1;
  }

  .item .item-description {
    flex-basis: 100%;
    margin-top: 20px;
    order: 3;
  }

  .item .item-cost {
    order: 2;
  }
}