.medium-banners img {
    width: 100%;
}


@media screen and (min-width: 486px) {
    .medium-banners {
        display: flex;
        justify-content: space-around;
        flex-flow: row wrap;
    }

    .medium-banners img {
        width: 50%;
    }
}

@media screen and (min-width: 888px) {
    .medium-banners img {
        width: 32.7%;
    }
}




