.checkout {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding: 0.5em 2em;
}

.checkout-details-container {
  flex-basis: 775px;
  margin-right: 10px;
}

.price-details-container {
  flex-basis: 325px;
}

#check-login,
#check-delivery-address,
#check-order-summary,
#check-payment-options {
  margin-bottom: 1em;
  background-color: #fff;
}

.checkout-details-container .title {
  color: #878787;
  font-size: 15px;
  font-weight: 600;
  position: relative;
  bottom: 3px;
}

.checkout-details-container p {
  margin-bottom: 0;
}

.change-button button {
  font-size: 12px;
  font-weight: 600;
  padding: 0.5em 1.5em;
  border-radius: 2px;
  border: 1px solid #d2d2f1;
  color: #2874f0;
  background-color: #fff;
  margin-left: 20px;
}

.CHECKED-VIEW .login-info,
.CHECKED-VIEW .delivery-address-info,
.CHECKED-VIEW .order-summary-info,
.CHECKED-VIEW .payment-options-info {
  flex: 1;
}

.icon-check {
  font-size: 12px;
  color: #113f88;
  margin: 0 10px;
  position: relative;
  bottom: 3px;
}

.UNCHECKED-VIEW .header {
  padding: 6px 20px;
}

.CHECKED-VIEW {
  display: flex;
  align-items: flex-start;
  padding: 10px 15px 15px 15px;
}

.CHANGE-VIEW .header {
  padding: 6px 20px;
  background-color: #2874f0;
}

.CHANGE-VIEW .login-info {
  padding: 15px 30px;
  display: flex;
  flex-wrap: wrap-reverse;
}

.CHANGE-VIEW .login-info a {
  text-decoration: none;
  font-size: 12px;
  font-weight: 600;
}

.CHANGE-VIEW .login-details {
  width: 275px;
  margin-right: 75px;
}

.CHANGE-VIEW .login-ad {
  font-size: 12px;
}

.CHANGE-VIEW .login-ad p {
  margin-bottom: 0.8em;
}

.CHANGE-VIEW .login-ad .icon-star:after {
  font-size: 14px;
}

.CHANGE-VIEW p.warning {
  font-size: 12px;
  color: #878787;
  padding: 15px 30px;
}

.ad-icon {
  color: #2874f0;
  margin-right: 1em;
}

.checkout-index {
  background-color: #f0f0f0;
  color: #2874f0;
  border-radius: 2px;
  font-size: 12px;
  font-weight: 600;
  padding: 0px 5px;
  margin-right: 15px;
}

.button-lg {
  font-size: 14px;
  padding: 0.7em 1em;
  margin-top: 8px;
}

.button-md {
  font-size: 14px;
  padding: 0.7em 1em;
  margin: 8px 5px 15px 30px;
  width: 200px;
}

.delivery-address-info .address {
  padding: 15px 20px 0 20px;
  display: flex;
}

.address span.txt-blue {
  float: right;
  cursor: pointer;
}

.order-summary-info .confirm-mail {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 5px 15px 0 33px;
}

.confirm-mail .email {
  font-weight: 600;
  background-color: rgb(238, 235, 235);
}

.confirm-mail span.fs-12 {
  position: relative;
  bottom: 0.2em;
}

.order-summary-info .empty {
  background-color: rgb(245, 245, 191);
  font-size: 14px;
  padding: 15px 15px 15px 18px;
}

a[data-target="#myModal-GoToCart"] {
  visibility: hidden;
}

.payment-options-info .radio-button {
  padding: 12px 20px 9px 20px;
  border-bottom: 1px solid #f0f0f0;
}

.payment-options-info .radio-btn-text {
  font-size: 14px;
  margin-left: 15px;
  position: relative;
  bottom: 3px;
}

.checkout .active {
  background-color: rgb(214, 235, 235);
}

.checkout .COD {
  display: flex;
  flex-flow: row wrap;
  margin-top: 10px;
}

.checkout .captcha {
  margin-right: 15px !important;
}

.COD button {
  margin-top: 4px;
  width: auto;
  height: 40px;
  white-space: nowrap;
}

/*- Edit Address -*/
.edit-address input-button {
  margin-right: 25px;
}

.edit-address .address-buttons {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 15px;
}

.address-textarea {
  margin-bottom: -8px !important;
}

.address-textarea input-button {
  width: 525px;
}

.deliver-btn,
.save-and-deliver-btn {
  margin-left: 50px;
}

.address-type {
  margin-left: 50px;
}

.address-type radio-button {
  margin-right: 8px;
}

.address-type span {
  position: relative;
  bottom: 3px;
  white-space: nowrap;
}

.address-type div {
  display: inline;
}

.address-home {
  margin-right: 50px;
}

.save-and-deliver-btn {
  width: 250px;
}

/** Media queries **/

@media screen and (max-width: 986px) {
  .checkout {
    flex-wrap: wrap-reverse;
    padding: 0;
  }

  .checkout-details-container {
    margin-right: 0;
  }

  .price-details-container {
    flex-basis: 75%;
    margin-bottom: 2em;
  }
}

@media screen and (max-width: 630px) {
  .checkout-details-container {
    width: 100%;
  }

  .edit-address .address-buttons {
    display: block;
  }

  .address-textarea input-button {
    width: 250px;
  }

  .address-buttons div {
    margin: 15px auto;
  }

  .address-type div {
    display: block;
    margin-bottom: 8px;
  }

}

@media screen and (max-width: 520px) {
  .CHANGE-VIEW .login-ad {
    margin-bottom: 2em;
  }

}

@media screen and (max-width: 440px) {
  .CHANGE-VIEW .login-details {
    margin-right: 0;
  }

  .checkout-details-container {
    width: 100%;
  }

  .price-details-container {
    flex-basis: 100%;
  }
}

@media screen and (min-width: 404px) and (max-width: 443px) {
  .COD button {
    margin: 30px auto 0 105px !important;
  }
}

@media screen and (min-width: 360px) and (max-width: 403px) {
  .COD button {
    margin: 30px auto 0 90px !important;
  }
}

@media screen and (max-width: 359px) {
  .COD button {
    margin: 30px auto 0 80px !important;
  }

}
