<!--  ****  start: "SELLER View"  ****  -->

<div class="seller">

    <div class="items-container" *ngIf="Item">

        <a href="#">{{ Item.seller }}</a> &nbsp;
        <star-rating-view [rating]="Item.rating" [category]="'seller'"></star-rating-view>
        <ul>
            <li *ngFor="let item of Item.items">
                {{ item.policy }}&nbsp;<i *ngIf="item.policyInfo" class="fa fa-info-circle icon-info"></i>
            </li>
        </ul>

    </div>

</div>

<!--  ****   end: "SELLER View"   ****  -->