<!--  ****  start: "SELLER View"  ****  -->

<div class="seller">

    <div class="items-container" *ngIf="Item">

        <a href="#">{{ Item.seller }}</a>
        <span class="item-ratings">{{ Item.rating }}<i class="fas fa-star icon-rating"></i></span>
        <ul>
            <li *ngFor="let item of Item.items">
                {{ item.policy }}&nbsp;<i *ngIf="item.policyInfo" class="fa fa-info-circle icon-info"></i>
            </li>
        </ul>

    </div>

</div>

<!--  ****   end: "SELLER View"   ****  -->