<!-- **********************   View Cart   ********************** -->

<div class="view-cart">
    <div class="view-cart-container">

        <div class="non-empty-cart" *ngIf="CartRelatedData.countOfItems">

            <div class="cart-items">
                <div class="title">
                    <div class="my-cart">My Cart <span>({{ CartRelatedData.countOfItems }})</span></div>
                    <div>
                        <i class="fa fa-map-marker-alt icon-map-marker"></i>
                        <span class="deliver-to-text">Deliver to</span>
                        <span class="navbar d-inline-block address-dropdown">
                            <span class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <span class="payment-address font-600 text-muted">
                                        <span class="txt-black">{{ paymentInfo.recipient }},</span>
                                        <span> {{ paymentInfo.billingAddress }}</span>
                                    </span>
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="select">Select from Saved Addresses:</a>
                                    <a class="dropdown-item" href="#">
                                        <span class="payment-address font-600 text-muted">
                                            <span class="txt-black">{{ paymentInfo.recipient }},</span>
                                            <span> {{ paymentInfo.billingAddress }}</span>
                                        </span>
                                    </a>

                                </div>
                            </span>
                        </span>
                    </div>
                </div>

                <cart-items 
                [CartItems]="CartItems" 
                (OutputData)="operationOnCartItem($event)">
                </cart-items>

                <div class="place-order">
                    <button type="button" [routerLink]="['/checkout/init']">PLACE ORDER</button>
                </div>
            </div>

            <!-- ********  start: PRICE DETAILS  ******** -->
            <div class="price-details-container">
                <price-details
                  [countOfCartItems]="CartRelatedData.countOfItems"
                  [totalPrice]="CartRelatedData.totalPrice"
                  [deliveryFee]="CartRelatedData.deliveryFee"
                  [totalSavings]="CartRelatedData.totalSavings"
                >
                </price-details>
            </div>
            <!-- ********  end: PRICE DETAILS  ******** -->

        </div>
    </div>

    <!-- ********  start: EMPTY CART  ******** -->
    <div class="empty-cart" *ngIf="!CartRelatedData.countOfItems">
        <h6><b>My Cart</b></h6> <br>
        <div class="content">
            <img src="assets/images/d438a32e-765a-4d8b-b4a6-520b560971e8.png" />
            <p>Your cart is empty!</p>
            <p><small>Add items to it now.</small></p>
            <a [routerLink]="['/']">Shop now</a>
        </div>
    </div>
    <!-- ********  end: EMPTY CART  ******** -->


</div>


<!-- ********  start: SAVED FOR LATER  ******** -->
<div class="saved-for-later view-cart non-empty-cart" *ngIf="countOfSavedForLaterItems">

    <div class="cart-items">

        <div class="title">
            <div class="my-cart">Saved For Later <span>({{ countOfSavedForLaterItems }})</span></div>
        </div>

        <cart-items 
            [SavedForLaterItems]="SavedForLaterItems" 
            (OutputData)="operationOnCartItem($event)">
        </cart-items>

    </div>

</div>
<!-- ********  end: SAVED FOR LATER  ******** -->