<!-- **********************   View Cart   ********************** -->

<div class="view-cart" *ngIf="CartRelatedData; else loading">
    <div class="view-cart-container">

        <div class="non-empty-cart" *ngIf="CartRelatedData.countOfItems">

            <div class="cart-items">
                <div class="title">
                    <div class="my-cart">My Cart <span>({{ CartRelatedData.countOfItems }})</span></div>
                    <div>
                        <i class="fa fa-map-marker-alt icon-map-marker"></i>
                        <span class="deliver-to-text">Deliver to</span>

                        <select-address-box [Addresses]="paymentInfo"></select-address-box>
                    </div>
                </div>

                <cart-items 
                [CartItems]="CartItems" 
                (OutputData)="operationOnCartItem($event)">
                </cart-items>

                <div class="place-order">
                    <button type="button" [routerLink]="['/checkout/init']">PLACE ORDER</button>
                </div>
            </div>

            <!-- ********  start: PRICE DETAILS  ******** -->
            <div class="price-details-container">
                <price-details
                  [countOfCartItems]="CartRelatedData.countOfItems"
                  [totalPrice]="CartRelatedData.totalPrice"
                  [deliveryFee]="CartRelatedData.deliveryFee"
                  [totalSavings]="CartRelatedData.totalSavings"
                >
                </price-details>
            </div>
            <!-- ********  end: PRICE DETAILS  ******** -->

        </div>
    </div>

    <!-- ********  start: EMPTY CART  ******** -->
    <div class="empty-cart" *ngIf="!CartRelatedData.countOfItems">
        <h6><b>My Cart</b></h6> <br>
        <div class="content">
            <img src="assets/images/d438a32e-765a-4d8b-b4a6-520b560971e8.png" />
            <p>Your cart is empty!</p>
            <p><small>Add items to it now.</small></p>
            <a [routerLink]="['/']">Shop now</a>
        </div>
    </div>
    <!-- ********  end: EMPTY CART  ******** -->


</div>


<!-- ********  start: SAVED FOR LATER  ******** -->
<div class="saved-for-later view-cart non-empty-cart" *ngIf="countOfSavedForLaterItems">

    <div class="cart-items">

        <div class="title">
            <div class="my-cart">Saved For Later <span>({{ countOfSavedForLaterItems }})</span></div>
        </div>

        <cart-items 
            [SavedForLaterItems]="SavedForLaterItems" 
            (OutputData)="operationOnCartItem($event)">
        </cart-items>

    </div>

</div>
<!-- ********  end: SAVED FOR LATER  ******** -->

<!--  Wait while loading...  -->
<ng-template #loading>

    <div class="my-spinner">

        <div class="spinner-border txt-blue" role="status" *ngIf="!serverError">
          <span class="sr-only">Loading...</span>
        </div>

        <img class="img-fluid" src="/assets/images/server-error.png" *ngIf="serverError">
    </div>
    
</ng-template>