.radio-button {
  display: inline-block;
  position: relative;
  cursor: pointer;
}

.radio-button .outer-circle {
  display: block;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 2px solid #2874f0;
}

.radio-button .inner-circle {
  display: block;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  position: absolute;
  top: 5px;
  left: 5px;
}

.radio-button .checked {
  background-color: #2874f0;
}
