.gallery-view {
  background-color: #ffffff;
  width: 100%;
}

.gallery-view .items-container {
  display: flex;
  justify-content: flex-start;
  flex-flow: row wrap;
}

.gallery-view .items-container .item {
  display: flex;
  border: 2px solid rgb(194, 194, 186);
  text-align: center;
  margin-right: 15px;
  margin-bottom: 15px;
}

.gallery-view .items-container .item img {
  width: auto;
  height: auto;
  max-width: 90%;
  max-height: 95%;
  margin: auto;
}

.gallery-view .items-container .item:hover {
  border-color: rgb(187, 187, 76);
}

.gallery-view .items-container .item.active {
  border-color: #17a2b8;
}
