<!-- ****************************    HOME Page    ****************************  -->

<banners
    [banners]="_banners"
    [bannerDefaultHeight]="_bannerDefaultHeight"
    [counterForSliders]="1"
  > 
</banners>

<display-items 
    [Items]="Items"
    [itemImageDefaultHeight]="itemImageDefaultHeight"
    [counterForSliders]="2"
    [ItemsPerSlide]="7"
> 
</display-items>

<display-items 
    [Items]="Items" 
    [itemImageDefaultHeight]="itemImageDefaultHeight"
    [counterForSliders]="3"
    [ItemsPerSlide]="6"
> 
</display-items>

<medium-banners></medium-banners>
