<!-- START: Modal content for Login -->
<div id="myModal-login" class="modal login-signup">
    <div class="modal-content">

        <div class="myModal-custom-content">

            <div class="sidebar">
                <h3><strong>Login</strong></h3>
                <p class="mt-4">Get access to your Orders, Wishlist and Recommendations</p>
                <div class="login-img"></div>
            </div>

            <div class="main">
                <div class="error-msg ml-1" [ngClass]="OTP_class" *ngIf="loginError_msg !== ''">
                    <small><b>{{ loginError_msg }}</b></small>
                </div>    

                <div id="close-modal-login" class="close-modal" data-dismiss="modal">
                    <i class="fas fa-times icon-close"></i>
                </div>

                <input type="text" placeholder="Enter Email / Mobile Number" name="emailOrMobile"
                   [(ngModel)]="emailOrMobile" />

                <div class="pass" [ngClass]="isFocused ? 'underline' : ''">

                    <input type="password" placeholder="Enter Password" (focus)="isFocused = true"
                        (focusout)="isFocused = false" name="login_pass" [(ngModel)]="login_pass" />

                    <a href='/forgot_password'>Forgot ?</a>
                </div>

                <button type="input" id="login" (click)="goToLogin()">Login</button>
                <p id="or">OR</p>
                <button type="input" id="request-otp">Request OTP</button>

                <a class="cur-p" id="signup" data-toggle="modal" data-dismiss="modal" data-target="#myModal-signup">New
                    to Flipkart? Create an account</a>

            </div>
        </div>
    </div>
</div>
<!-- END: Modal content for Login -->


<!-- START: Modal content for Signup -->
<div id="myModal-signup" class="modal login-signup">
    <div class="modal-content">

        <div class="myModal-custom-content">

            <div class="sidebar">
                <h3><strong>Signup</strong></h3>
                <p class="mt-4">We do not share your personal details with anyone.</p>
                <div class="login-img"></div>
            </div>

            <div class="main">
                <div id="close-modal-signup" class="close-modal" data-dismiss="modal">
                    <i class="fas fa-times icon-close"></i>
                </div>

                <div class="mobile-input" [ngClass]="{ underline: addBlueBorder }" [ngStyle]="addRedBorder()">
                    <input #mobNo type="number" placeholder="Enter Mobile Number" style="margin: 0;"
                        [ngClass]="{ 'inputClass': addClass }" (focus)="addBlueBorderFunc(true)"
                        (focusout)="addBlueBorderFunc(false)" (input)="showCountryCode(mobNo.value)" />
                    <span class="country-code" [ngClass]="{ 'disp-none': hideCode }">+91 | </span>
                </div>
                <small class="error-msg" *ngIf="errorMsg_Mobno !== ''">
                    {{ errorMsg_Mobno }}
                </small>

                <div class="signup-otp-pass text-dark mt-4" *ngIf="isMobNoValid">
                    <p>
                        OTP sent to Mobile
                        <span (click)="validateAndSendOTP(mobNo.value)">Resend?</span>
                    </p>

                    <div class="OTP-container">
                        <input #OTP_input type="number" placeholder="Enter OTP" (input)="verifyOTP(OTP_input.value)" />
                        <small class="OTP-msg" [ngClass]="OTP_class" *ngIf="OTP_related_Msg !== ''">
                            {{ OTP_related_Msg }}
                        </small>
                    </div>

                    <input name="password" [(ngModel)]="password" type="password" placeholder="Set Password"
                        class="mb-2 mt-2" />
                    <small class="error-msg" *ngIf="password_msg !== ''">
                        {{ password_msg }}
                    </small>


                </div>

                <button type="input" id="signup-continue" *ngIf="!isMobNoValid"
                    (click)="validateAndSendOTP(mobNo.value)">Continue</button>
                <button type="input" id="signup-continue" *ngIf="isMobNoValid" 
                    (click)="goToSignup(mobNo.value)">Signup</button>

                <br /><br />

                <button type="input" id="signup-exst-user" data-toggle="modal" data-dismiss="modal"
                    data-target="#myModal-login">Existing User? Log in</button>

            </div>
        </div>
    </div>
</div>
<!-- END: Modal content for Signup -->
