/** --------------------- START: LOGIN & SIGNUP ------------------- **/

#myModal-login, #myModal-signup {
  z-index: 10000;
}

#myModal-login .modal-content,
#myModal-signup .modal-content {
  width: 50% !important;
  margin: 75px auto;
}

#myModal-login .myModal-custom-content,
#myModal-signup .myModal-custom-content {
  width: 100%;
  display: flex;
  color: white;
  min-height: 78vh;
}

.login-signup .sidebar {
  flex: 1;
  background-color: #2874f0;
  border-radius: 5px 0 0 5px;
  padding: 3em 2em;
  background-image: url("/assets/images/fp-login.png");
  background-position: center 85%;
  background-repeat: no-repeat;
}

.login-signup .sidebar p {
  font-size: 1.1em;
}

.login-signup .main {
  flex: 1.5;
  padding: 2em 2em;
  border-radius: 0 5px 5px 0;
  position: relative;
}

.login-signup .close-modal .icon-close {
  font-size: 1.8em;
  color: #fff;
  position: absolute;
  top: -3px;
  right: -35px;
  cursor: pointer;
}

.login-signup .main input {
  padding: 3px 5px;
  border: none;
  color: black;
  outline: none;
}

.login-signup .main input[type="text"],
.login-signup .main input[type="number"] {
  border-bottom: 1px solid lightgrey;
  margin: 2em 0 2.5em 0;
  width: 100%;
}

/** Display country code **/
.login-signup .mobile-input {
  position: relative;
  border-bottom: 1px solid lightgrey;
}

.login-signup .mobile-input input {
  border-bottom: none !important;
}

.country-code {
  color: #212121;
  position: absolute;
  top: 3px;
  left: 3px;
}

.inputClass {
  width: 75% !important;
  margin-left: 40px !important;
}

.login-signup .main input[type="text"]:focus,
.login-signup .main input[type="number"]:focus {
  border-bottom: 1px solid #0d63ee;
}

.login-signup .main input[type="password"] {
  width: 76%;
}

.login-signup .main a {
  text-decoration: none !important;
  color: #0d63ee;
}

.login-signup .main .pass a {
  float: right;
}

.login-signup .main .pass {
  border-bottom: 1px solid lightgrey;
}

.underline {
  border-bottom: 1px solid #0d63ee !important;
}

.login-signup .main button {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 2px !important;
}

#login,
#signup-continue {
  margin-top: 2.5em;
  background-color: #fb641b;
  color: #fff;
}

#request-otp,
#signup-exst-user {
  background-color: #fff;
  color: #0d63ee;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.5s ease;
  outline-color: #cadbec;
}

#request-otp:active {
  transform: translateY(1px);
}

.main #or {
  text-align: center;
  margin: 1em auto;
  color: grey;
}

#signup {
  display: block;
  margin-top: 5em;
  text-align: center;
  color: blue;
}

.signup-otp-pass input[type="password"] {
  width: 100% !important;
  border-bottom: 1px solid lightgrey !important;
}

.signup-otp-pass input[type="password"]:focus {
  border-bottom: 1px solid #0d63ee !important;
}

.signup-otp-pass p span {
  float: right;
  color: #0d63ee; 
  cursor: pointer;
}

.error-msg {
  color: indianred;
  font-weight: bold;
}

.OTP-container {
  position: relative;
}

.OTP-msg {
  color: indianred;
  font-weight: bold;
  position: absolute;
  top: 65px;
  left: 5px;
}


/** -----  Media Queries ----- **/
@media screen and (min-width: 951px) and (max-width: 1024px) {
  #myModal-login .modal-content,
  #myModal-signup .modal-content {
    width: 60% !important;
  }
}

@media screen and (min-width: 851px) and (max-width: 950px) {
  #myModal-login .modal-content,
  #myModal-signup .modal-content {
    width: 65% !important;
  }
}

@media screen and (min-width: 801px) and (max-width: 850px) {
  #myModal-login .modal-content,
  #myModal-signup .modal-content {
    width: 70% !important;
  }
}

@media screen and (min-width: 751px) and (max-width: 800px) {
  #myModal-login .modal-content,
  #myModal-signup .modal-content {
    width: 75% !important;
  }
}

@media screen and (min-width: 651px) and (max-width: 750px) {
  #myModal-login .modal-content,
  #myModal-signup .modal-content {
    width: 85% !important;
    margin: 50px 40px;
  }
}

@media screen and (min-width: 610px) and (max-width: 650px) {
  #myModal-login .modal-content,
  #myModal-signup .modal-content {
    width: 90% !important;
    margin: 50px 12px;
  }
}

@media screen and (max-width: 609px) {
  #myModal-login .modal-content,
  #myModal-signup .modal-content {
    width: 410px !important;
    margin: 50px auto;
  }

  .login-signup .close-modal .icon-close {
    top: -214px;
  }

  .login-signup .sidebar p {
    position: relative;
    bottom: 5px;
    font-weight: 600;
    font-size: 0.9em;
  }

  #myModal-login .myModal-custom-content,
  #myModal-signup .myModal-custom-content {
    flex-flow: column wrap;
  }
}

@media screen and (max-width: 512px) {
  .login-signup .close-modal .icon-close {
    padding: 1px 4px;
    right: 0px;
    top: -211px;
    font-size: 1.5em;
    background-color: cornflowerblue;
  }
}

@media screen and (max-width: 430px) {
  #myModal-login .modal-content,
  #myModal-signup .modal-content {
    width: 360px !important;
  }
}

@media screen and (max-width: 375px) {
  #myModal-login .modal-content,
  #myModal-signup .modal-content {
    width: 318px !important;
  }
}

/** ---------------------  END: LOGIN & SIGNUP  ------------------- **/
