/*  ****  start: "ICONS"   ****  */

.icon-rating {
    position: relative;
    font-size: .6rem;
    padding: 0 2px; 
    bottom: .1em;
}

.icon-info {
    font-size: 1rem; 
    color: lightgray;
    vertical-align: middle;
}

/*  ****   end: "ICONS"   ****  */