<!--  ****  start: "Rating Bar"  ****  -->

<div class="rating-bar">

    <div class="rating-bars-container">

        <div class="bar" *ngFor="let i of [5,4,3,2,1]; let index = index;">
            <div class="category">
                {{ i }}<span class="icon-star icon-rating"></span>
            </div>
            <div class="bar-container">
                <div class="bar-{{ i }}" [ngStyle]="addWidth(index)"></div>
            </div>
            <div class="rating-count">
                {{ ratingsCount[index] | number }}
            </div>
        </div>

    </div>

</div>

<!--  ****  end: "Rating Bar"  ****  -->