.icon-rating::after {
  position: relative;
  bottom: 1px;
  font-size: 14px;
}

.rating-bar {
  width: 100%;
}

.bar {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

.bar .category {
  flex: 1;
}

.bar .bar-container {
  flex: 3;
}

.bar .rating-count {
  flex: 2;
  font-size: 14px;
  color: #878787;
  padding-left: 10px;
}

.bar-container {
  width: 100%;
  height: 5px;
  border-radius: 5px;
  background-color: #f1f1f1;
}


.bar-5, .bar-4, .bar-3, .bar-2, .bar-1 {
    height: inherit;
    width: 0%;
    border-radius: 5px;
}

.bar-5 {
  background-color: #388e3c;
}
.bar-4 {
  background-color: #388e3c;
}
.bar-3 {
  background-color: #388e3c;
}
.bar-2 {
  background-color: #ff9800;
}
.bar-1 {
  background-color: #f44336;
}
