<!--  *************    Product List (Eg, Mobiles -> Mi -> All Mi Mobiles List )    **************  -->

<div class="product-list" *ngIf="loadItems; else loading">

    <!--  ******  START: SIDEBAR  ******  -->

    <div class="sidebar-container">

        <sidebar class="desktopview-sidebar" 
           [category]="category"
           [selected_subcategory]="subcategory"
           [subcategories]="sub_categories"
           [propertiesList]="propertiesList" 
           [ItemFilterProperties]="ItemFilterProperties">
        </sidebar>

        <mobileview-sidebar [buttonName]="'Filters'" [containerToHide]="'product-content'">
            <sidebar 
                [category]="category"
                [selected_subcategory]="subcategory"
                [subcategories]="sub_categories"
                [propertiesList]="propertiesList" 
                [ItemFilterProperties]="ItemFilterProperties">
            </sidebar>
        </mobileview-sidebar>
        
    </div>

    <!--  ******    END: SIDEBAR  ******  -->


    <!-- =====================================  START: Content  ===================================== -->
    <div class="product-content" id="product-content" *ngIf="Items">
        <div class="prod-header">
            <p>
                <span class="prod-category">Mi Mobiles </span>
                <span class="products-per-page text-muted">
                    <small>(Showing {{ firstItemOfPage }}-{{ lastItemOfPage }} products of {{countOfItems}} products)</small>
                </span>
            </p>

            <strong class="fs-14 mr-3">Sort By</strong>
            <ul class="sort">
                <li>Popularity</li>
                <li>Price -- Low to High</li>
                <li>Price -- High to Low</li>
                <li>Newest First</li>
            </ul>
        </div>

        <div class="items">
            <div class="item" (click)="goToProductDetails(i)" *ngFor="let i of counterForItemsPerPage">

                <div class="item-image">
                    <img src="../../../assets/images/{{Items[i].image}}" />
                    <div class="checkbox mt-4" (click)="compareBtnClicked = true">
                        <label>
                            <input type="checkbox" value="">
                            <span class="cr"><i class="cr-icon fas fa-check-square"></i></span>
                            Add to Compare
                        </label><br>
                    </div>
                </div>

                <div class="item-description">
                    <h5 class="item-title">{{Items[i].title}}</h5>
                    <p><span class="item-ratings">{{Items[i].rating.stars}}<i
                                class="fas fa-star icon-rating"></i></span>
                        <span class="text-muted ml-2">{{ Items[i].rating.ratingsCount | number }} Ratings &amp;
                            {{ Items[i].rating.reviewsCount | number }} Reviews</span></p>

                    <ul>
                        <li *ngFor="let feature of Items[i].features">{{feature}}</li>
                    </ul>
                </div>

                <div class="item-cost">
                    <h3>₹{{Items[i].price | number}} <img src="../../../assets/images/fa_8b4b59.png" height="22px" />
                    </h3>

                    <p><small class="txt-dec-lt mr-2">₹{{Items[i].MRP | number}}</small><small
                            style="color: green;">{{Items[i].discount}}% off</small></p>

                    <p *ngIf="Items[i].noCostEMI">No Cost EMI</p>
                    <p *ngIf="Items[i].exchangePrice">Upto <b>₹{{Items[i].exchangePrice | number}}</b> Off on Exchange
                    </p>

                </div>

            </div>
        </div>

        <!-- **********************  START: Pagination  ********************** -->

        <div class="pagination">
            <div class="page-no">
                <p>Page {{selectedPage}} of {{countOfPages}}</p>
            </div>
            <div class="pages">

                <a (click)="goToPrevPage()" *ngIf="selectedPage > 1" style="color: #2196f3">
                    PREVIOUS
                </a>

                <a (click)="goToSelectedPage(page)" *ngFor="let page of counterForPages"
                    [class.active]="selectedPage === page">
                    {{page}}
                </a>

                <a (click)="goToNextPage()" *ngIf="selectedPage < countOfPages" style="color: #2196f3">
                    NEXT
                </a>
            </div>
        </div>

        <!-- **********************  END: Pagination  ********************** -->

    </div>

    <!-- =====================================  END: Content  ===================================== -->
</div>

<!--  Wait while loading...  -->
<ng-template #loading>

    <div class="my-spinner">
        <div class="spinner-border txt-blue" role="status">
          <span class="sr-only">Loading...</span>
        </div>
    </div>

</ng-template>