.myNavbar a {
  text-decoration: none;
}

.myNavbar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

/**- Toggle Icon -**/

.toggle-icon {
  padding: 0.5rem;
  display: inline-block;
}

.toggle-icon div {
  width: 20px;
  height: 5px;
  margin: 2px 5px;
  background-color: #aaa9a9;
  cursor: pointer;
  transition: all 0.3s ease;
}

.toggleMenu .line1 {
  transform: rotate(-45deg) translate(-4.5px, 6px);
}

.toggleMenu .line2 {
  opacity: 0;
}

.toggleMenu .line3 {
  transform: rotate(45deg) translate(-3.5px, -6px);
}

/***--- Main Navbar ---***/

.custom-main-nav {
  z-index: 7500;
}

.custom-main-nav .nav-item {
  margin: 0px 15px;
  cursor: pointer;
  white-space: nowrap;
}

.custom-main-nav .nav-link {
  color: white !important;
  font-size: 1.1em;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

li.dropdown a.dropdown-toggle,
a[data-target="#myModal-signup"] {
  padding-top: 13px;
  padding-bottom: 13px;
}


.brand-name {
  font-weight: bold;
  font-size: 1.5em;
  font-family: Arial;
}

.navbar-toggler {
  outline-color: blue;
  margin: 5px 10px;
}

.login-signup-text {
  margin-top: 5px !important;
}

/**-  Search Form  -**/
.search-form {
  position: relative;
  border-right: 3em;
  margin: auto;
}

.search-form input[type="input"] {
  display: inline-block;
  width: 30em;
}

.search-form .icon-search {
  color: #17a2b8;
  font-size: 1.15em;
  position: absolute;
  right: 2px;
  vertical-align: middle;
  padding: 10px;
  cursor: pointer;
}

.txt-shadow {
  text-shadow: 3px 2px #343a40;
}

.icon-store {
  font-size: 1.25em;
  margin: 0.2em 0em 0.2em 3em;
  color: #343a40;
}

.menu-icon {
  color: blue;
  margin-right: 15px;
}

/***--- Navbar (with links and dropdowns) ---***/

.custom-nav .nav-item {
  margin: 0;
  padding: 0 !important;
  cursor: pointer;
  white-space: nowrap;
}

.custom-nav .nav-link {
  color: #212121;
  font-size: 0.95em;
  font-weight: 600;
  font-family: Arial, sans-serif;
}

.custom-nav .icon-dropdown {
  font-size: 0.7em;
  color: blue;
  padding: 0px 5px;
}

.desktop-visible-menu {
  display: block;
}

.desktop-visible-menu ul {
  display: flex;
  justify-content: space-between;
}

.collapsible-menu {
  background-color: whitesmoke;
}

/* The dropdown container */
.dropdown-on-hover {
  overflow: hidden;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  width: 98%;
  left: 1%;
  right: 1%;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 5000;
}

/* Show the dropdown content on hover */
.dropdown-on-hover:hover .dropdown-content {
  display: block;
}

/** =======  Media Queries  ======= **/

/** Navbar **/
@media screen and (min-width: 1151px) {
  .desktop-visible-menu ul {
    justify-content: space-around;
  }

  .desktop-visible-menu a.nav-link {
    padding: 0.5rem 0 !important;
  }

  .toggle-icon {
    display: none !important;
  }
}

@media screen and (min-width: 561px) and (max-width: 1150px) {
  .toggle-icon {
    float: right;
  }
}


/** Main Navbar **/
@media screen and (max-width: 1200px) {
  .search-form {
    margin-left: 10px;
  }
}

@media screen and (max-width: 850px) {
  .icon-store {
    margin-left: 25px;
  }
}

@media screen and (max-width: 740px) {
  .navbar-toggler {
    margin-left: 25px;
  }
}

@media screen and (max-width: 660px) {
  .icon-store {
    margin-left: 75px;
  }
}

@media screen and (max-width: 600px) {
  .search-form {
    margin: 10px auto;
  }
  .icon-store {
    margin-left: 30px;
  }
  .navbar-toggler {
    position: absolute;
    top: 5px;
    right: 0px;
  }
}

@media screen and (max-width: 500px) {
  .navbar-toggler {
    right: 2px;
  }
  .search-form {
    margin: 5px 0 5px 9px;
  }
  .search-form input[type="input"] {
    width: 96vw;
  }
}

@media screen and (max-width: 360px) {
  .search-form input[type="input"] {
    font-size: 0.9em;
  }

  .icon-search {
    font-size: 0.9em !important;
  }

  .search-form {
    margin-left: 6px;
  }
}

@media screen and (max-width: 310px) {
  .search-form input[type="input"] {
    font-size: 0.8em;
  }

  .icon-search {
    font-size: 0.8em !important;
  }
}
