<nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top p-0 main-nav">
    <a class="navbar-brand" href="#">
      <i class="fas fa-store-alt icon-store" aria-hidden="true"></i>
      <span class="brand-name txt-shadow"> N-Kart</span></a>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2 nav-search-box" type="search"
        placeholder="Search for products, brands and more..." aria-label="Search" />
      <button type="button" class="btn-search btn">
        <i class="fa fa-search icon-search" aria-hidden="true"></i>
      </button>
    </form>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            My Account
          </a>
          <div class="dropdown-menu mt-2" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            More
          </a>
          <div class="dropdown-menu mt-2" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li>
      </ul>
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="#">
            <i class="fa fa-shopping-cart icon-cart" aria-hidden="true"></i> Cart
          </a>
        </li>
      </ul>
    </div>
  </nav>
  <br /><br />
  
  <nav class="navbar navbar-expand-lg p-0 pt-1 categories-nav">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav">
  
        <li class="nav-item dropdown-on-hover">

          <a class="nav-link">Electronics<i class="fas fa-chevron-down icon-dropdown"></i></a>
  
          <ul class="_2OZ78M _1fj2FQ dropdown-content">
  
            <li class="mega-menu-col">
              <ul class="QPOmNK">
                <li class="_1KCOnI _2BfSTw _1h5QLb _3ZgIXy"><a title="Mobiles"
                    href="/mobile-phones-store?otracker=nmenu_sub_Electronics_0_Mobiles">Mobiles<span class="nsslWl">
                      &#9658; </span></a></li>
                <li class="_1KCOnI _3ZgIXy"><a title="Mi"
                    href="/mobiles/mi~brand/pr?sid=tyy,4io&amp;otracker=nmenu_sub_Electronics_0_Mi">Mi</a></li>
                <li class="_1KCOnI _3ZgIXy"><a title="Realme"
                    href="/mobiles/pr?sid=tyy%2C4io&amp;p%5B%5D=facets.brand%255B%255D%3DRealme&amp;otracker=nmenu_sub_Electronics_0_Realme">Realme</a>
                </li>
                <li class="_1KCOnI _3ZgIXy"><a title="Samsung"
                    href="/samsung-mobile-store?otracker=nmenu_sub_Electronics_0_Samsung">Samsung</a></li>
                <li class="_1KCOnI _3ZgIXy"><a title="Infinix"
                    href="/mobiles/pr?sid=tyy%2C4io&amp;otracker=categorytree&amp;p%5B%5D=facets.brand%255B%255D%3DInfinix&amp;otracker=nmenu_sub_Electronics_0_Infinix">Infinix</a>
                </li>
                <li class="_1KCOnI _3ZgIXy"><a title="OPPO"
                    href="/oppo-mobile-phones-store?otracker=nmenu_sub_Electronics_0_OPPO">OPPO</a></li>
                <li class="_1KCOnI _3ZgIXy"><a title="Apple"
                    href="/apple-products-store?otracker=nmenu_sub_Electronics_0_Apple">Apple</a></li>
                <li class="_1KCOnI _3ZgIXy"><a title="Vivo"
                    href="/mobiles/pr?sid=tyy%2C4io&amp;p%5B%5D=facets.serviceability%5B%5D%3Dfalse&amp;p%5B%5D=facets.brand%255B%255D%3DVivo&amp;otracker=nmenu_sub_Electronics_0_Vivo">Vivo</a>
                </li>
                <li class="_1KCOnI _3ZgIXy"><a title="Honor"
                    href="/search?p[]=facets.brand%255B%255D%3DHonor&amp;sid=tyy%2F4io&amp;otracker=CLP_filters&amp;otracker=nmenu_sub_Electronics_0_Honor">Honor</a>
                </li>
                <li class="_1KCOnI _3ZgIXy"><a title="Asus"
                    href="/mobiles/pr?sid=tyy%2C4io&amp;p%5B%5D=facets.brand%255B%255D%3DAsus&amp;otracker=nmenu_sub_Electronics_0_Asus">Asus</a>
                </li>
                <li class="_1KCOnI _3ZgIXy"><a title="Pixel 3a | 3a XL"
                    href="/mobiles/~pixel-3a-series/pr?sid=tyy%2C4io&amp;otracker=nmenu_sub_Electronics_0_Pixel%203a%20%7C%203a%20XL">Pixel
                    3a | 3a XL</a></li>
                <li class="_1KCOnI _3ZgIXy"><a title="Redmi K20 | K20 Pro"
                    href="/mobiles/~cs-u369u3adcv/pr?sid=tyy%2C4io&amp;otracker=nmenu_sub_Electronics_0_Redmi%20K20%20%7C%20K20%20Pro">Redmi
                    K20 | K20 Pro</a></li>
                <li class="_1KCOnI _3ZgIXy"><a title="Realme X"
                    href="/mobiles/~cs-axw3ei2ufh/pr?sid=tyy%2C4io&amp;otracker=nmenu_sub_Electronics_0_Realme%20X">Realme
                    X</a></li>
                <li class="_1KCOnI _3ZgIXy"><a title="Redmi 7A"
                    href="/mobiles/~cs-iwmqh0q1cp/pr?sid=tyy%2C4io&amp;otracker=nmenu_sub_Electronics_0_Redmi%207A">Redmi
                    7A</a></li>
                <li class="_1KCOnI _3ZgIXy"><a title="Vivo Z1Pro"
                    href="/tyy/4io/~cs-fz8is2wkwi/pr?sid=tyy,4io&amp;otracker=nmenu_sub_Electronics_0_Vivo%20Z1Pro">Vivo
                    Z1Pro</a></li>
                <li class="_1KCOnI _3ZgIXy"><a title="Realme 5 Pro"
                    href="/mobiles/~cs-2961zwwdcj/pr?sid=tyy,4io&amp;sort=price_asc&amp;otracker=nmenu_sub_Electronics_0_Realme%205%20Pro">Realme
                    5 Pro</a></li>
                <li class="_1KCOnI _3ZgIXy"><a title="Oppo Reno 2z"
                    href="/mobiles/~cs-rohz4ga542/pr?sid=tyy,4io&amp;otracker=nmenu_sub_Electronics_0_Oppo%20Reno%202z">Oppo
                    Reno 2z</a></li>
                <li class="_1KCOnI _3ZgIXy"><a title="Realme 5"
                    href="/mobiles/~cs-njlqhhl0ch/pr?sid=tyy,4io&amp;otracker=nmenu_sub_Electronics_0_Realme%205">Realme
                    5</a></li>
              </ul>
            </li>
            <li class="mega-menu-col">
  
              <ul class="QPOmNK">
                <li class="_1KCOnI _2BfSTw _1h5QLb _3ZgIXy"><a title="Mobile Accessories"
                    href="/mobile-accessories/pr?sid=tyy,4mr&amp;otracker=nmenu_sub_Electronics_0_Mobile%20Accessories">Mobile
                    Accessories<span class="nsslWl"> &#9658; </span></a></li>
                <li class="_1KCOnI _3ZgIXy"><a title="Mobile Cases"
                    href="/mobile-accessories/cases-and-covers/pr?sid=tyy,4mr,q2u&amp;otracker=nmenu_sub_Electronics_0_Mobile%20Cases">Mobile
                    Cases</a></li>
                <li class="_1KCOnI _3ZgIXy"><a title="Headphones &amp; Headsets"
                    href="/headphones-store?otracker=nmenu_sub_Electronics_0_Headphones%20%26%20Headsets">Headphones
                    &amp; Headsets</a></li>
                <li class="_1KCOnI _3ZgIXy"><a title="Power Banks"
                    href="/mobile-accessories/power-banks/pr?sid=tyy,4mr,fu6&amp;otracker=categorytree&amp;otracker=nmenu_sub_Electronics_0_Power%20Banks">Power
                    Banks</a></li>
                <li class="_1KCOnI _3ZgIXy"><a title="Screenguards"
                    href="/mobile-accessories/screen-guards/pr?sid=tyy,4mr,lrv&amp;otracker=nmenu_sub_Electronics_0_Screenguards">Screenguards</a>
                </li>
                <li class="_1KCOnI _3ZgIXy"><a title="Memory Cards"
                    href="/mobile-accessories/memory-cards-readers/memory-cards/pr?sid=tyy,4mr,zzf,7y7&amp;otracker=nmenu_sub_Electronics_0_Memory%20Cards">Memory
                    Cards</a></li>
                <li class="_1KCOnI _3ZgIXy"><a title="Smart Headphones"
                    href="/wearable-smart-devices/smart-headphones/pr?sid=ajy,vam&amp;otracker=nmenu_sub_Electronics_0_Smart%20Headphones">Smart
                    Headphones</a></li>
                <li class="_1KCOnI _3ZgIXy"><a title="Mobile Cables"
                    href="/mobile-accessories/cables/pr?sid=tyy,4mr,3nu&amp;otracker=nmenu_sub_Electronics_0_Mobile%20Cables">Mobile
                    Cables</a></li>
                <li class="_1KCOnI _3ZgIXy"><a title="Mobile Chargers"
                    href="/mobile-accessories/chargers/pr?sid=tyy,4mr,tp2&amp;otracker=nmenu_sub_Electronics_0_Mobile%20Chargers">Mobile
                    Chargers</a></li>
                <li class="_1KCOnI _3ZgIXy"><a title="Mobile Holders"
                    href="/mobile-accessories/mobile-holders/pr?sid=tyy,4mr,vnf&amp;marketplace=FLIPKART&amp;otracker=nmenu_sub_Electronics_0_Mobile%20Holders">Mobile
                    Holders</a></li>
  
                <li class="_1KCOnI _2BfSTw _1h5QLb _3ZgIXy"><a title="Smart Wearable Tech"
                    href="/smart-wearables-store?otracker=nmenu_sub_Electronics_0_Smart%20Wearable%20Tech">Smart
                    Wearable Tech<span class="nsslWl"> &#9658;</span></a></li>
                <li class="_1KCOnI _3ZgIXy"><a title="Smart Watches"
                    href="/smartwatches-store?otracker=nmenu_sub_Electronics_0_Smart%20Watches">Smart Watches</a></li>
                <li class="_1KCOnI _3ZgIXy"><a title="Smart Glasses (VR)"
                    href="/wearable-smart-devices/smart-glasses/pr?sid=ajy%2Ctcy&amp;otracker=nmenu_sub_Electronics_0_Smart%20Glasses%20(VR)">Smart
                    Glasses (VR)</a></li>
                <li class="_1KCOnI _3ZgIXy"><a title="Smart Bands"
                    href="/wearable-smart-devices/smart-bands/pr?sid=ajy%2Cq7p&amp;otracker=nmenu_sub_Electronics_0_Smart%20Bands">Smart
                    Bands</a></li>
                <li class="_1KCOnI _2BfSTw _1h5QLb _3ZgIXy"><a title="Health Care Appliances"
                    href="/health-and-appliances-store?otracker=nmenu_sub_Electronics_0_Health%20Care%20Appliances">Health
                    Care Appliances<span class="nsslWl"> &#9658;</span></a></li>
                <li class="_1KCOnI _3ZgIXy"><a title="Bp Monitors"
                    href="/health-personal-care-appliances/health-care/health-care-devices/blood-pressure-monitors/pr?sid=zlw,nyl,bvv,kbk&amp;otracker=nmenu_sub_Electronics_0_Bp%20Monitors">Bp
                    Monitors</a></li>
                <li class="_1KCOnI _3ZgIXy"><a title="Weighing Scale"
                    href="/beauty-and-personal-care/health-care/health-care-devices/weighing-scales/pr?sid=t06,nyl,bvv,o4o&amp;otracker=nmenu_sub_Electronics_0_Weighing%20Scale">Weighing
                    Scale</a></li>
              </ul>
            </li>
            <li class="mega-menu-col">
              <ul class="QPOmNK">
                <li class="_1KCOnI _2BfSTw _1h5QLb _3ZgIXy"><a title="Laptops"
                    href="/laptops-store?otracker=nmenu_sub_Electronics_0_Laptops">Laptops<span class="nsslWl">
                      &#9658;</span></a></li>
                <li class="_1KCOnI _3ZgIXy"><a title="Gaming Laptops"
                    href="/gaming-laptops-store?otracker=nmenu_sub_Electronics_0_Gaming%20Laptops&amp;otracker=nmenu_sub_Electronics_0_Gaming%20Laptops">Gaming
                    Laptops</a></li>
                <li class="_1KCOnI _2BfSTw _1h5QLb _3ZgIXy"><a title="Desktop PCs"
                    href="/desktop-pc-store?otracker=nmenu_sub_Electronics_0_Desktop%20PCs">Desktop PCs<span
                      class="nsslWl"> &#9658;</span></a></li>
                <li class="_1KCOnI _2BfSTw _1h5QLb _3ZgIXy"><a title="Gaming &amp; Accessories"
                    href="/gaming-store?otracker=nmenu_sub_Electronics_0_Gaming%20%26%20Accessories">Gaming &amp;
                    Accessories<span class="nsslWl"> &#9658;</span></a></li>
  
                <li class="_1KCOnI _2BfSTw _1h5QLb _3ZgIXy"><a title="Computer Accessories"
                    href="/computer-accessories-store?otracker=nmenu_sub_Electronics_0_Computer%20Accessories">Computer
                    Accessories<span class="nsslWl"> &#9658;</span></a></li>
                <li class="_1KCOnI _3ZgIXy"><a title="External Hard Disks"
                    href="/external-hard-disk-store?otracker=nmenu_sub_Electronics_0_External%20Hard%20Disks">External
                    Hard Disks</a></li>
                <li class="_1KCOnI _3ZgIXy"><a title="Pendrives"
                    href="/computers/storage/pen-drives/pr?sid=6bo,jdy,uar&amp;otracker=nmenu_sub_Electronics_0_Pendrives">Pendrives</a>
                </li>
                <li class="_1KCOnI _3ZgIXy"><a title="Laptop Skins &amp; Decals"
                    href="/laptop-accessories/laptop-skins-decals/pr?sid=6bo,ai3,zvm&amp;otracker=nmenu_sub_Electronics_0_Laptop%20Skins%20%26%20Decals">Laptop
                    Skins &amp; Decals</a></li>
                <li class="_1KCOnI _3ZgIXy"><a title="Laptop Bags"
                    href="/laptop-accessories/laptop-bags/pr?sid=6bo%2Cai3%2Cqq9&amp;otracker=nmenu_sub_Electronics_0_Laptop%20Bags">Laptop
                    Bags</a></li>
                <li class="_1KCOnI _3ZgIXy"><a title="Mouse"
                    href="/laptop-accessories/mouse/pr?sid=6bo,ai3,2ay&amp;otracker=nmenu_sub_Electronics_0_Mouse">Mouse</a>
                </li>
                <li class="_1KCOnI _2BfSTw _1h5QLb _3ZgIXy"><a title="Computer Peripherals"
                    href="/peripherals-store?otracker=nmenu_sub_Electronics_0_Computer%20Peripherals">Computer
                    Peripherals<span class="nsslWl"> &#9658;</span></a></li>
                <li class="_1KCOnI _3ZgIXy"><a title="Printers &amp; Ink Cartridges"
                    href="/printer-inks-store?otracker=nmenu_sub_Electronics_0_Printers%20%26%20Ink%20Cartridges">Printers
                    &amp; Ink Cartridges</a></li>
                <li class="_1KCOnI _3ZgIXy"><a title="Monitors"
                    href="/monitors-store?otracker=nmenu_sub_Electronics_0_Monitors">Monitors</a></li>
                <li class="_1KCOnI _2BfSTw _1h5QLb _3ZgIXy"><a title="Tablets"
                    href="/tablets-store?otracker=nmenu_sub_Electronics_0_Tablets">Tablets<span class="nsslWl">
                      &#9658;</span></a></li>
                <li class="_1KCOnI _3ZgIXy"><a title="Apple iPads"
                    href="/tablets/~apple-ipads/pr?sid=tyy,hry&amp;otracker=nmenu_sub_Electronics_0_Apple%20iPads">Apple
                    iPads</a></li>
              </ul>
            </li>
            <li class="mega-menu-col">
              <ul class="QPOmNK">
                <li class="_1KCOnI _3ZgIXy tv"><a title="Televisions"
                    href="/television-store?otracker=nmenu_sub_Electronics_0_Televisions">Televisions</a></li>
                <li class="_1KCOnI _2BfSTw _1h5QLb _3ZgIXy"><a title="Speakers"
                    href="/audio-speaker-store?otracker=nmenu_sub_Electronics_0_Speakers">Speakers<span class="nsslWl">
                      &#9658;</span></a></li>
                <li class="_1KCOnI _3ZgIXy"><a title="Home Audio Speakers"
                    href="/audio-video/speakers/pr?count=40&amp;otracker=categorytree&amp;p%5B%5D=facets.type%255B%255D%3DHome%2BAudio%2BSpeaker&amp;p%5B%5D=facets.type%255B%255D%3DLaptop%252FDesktop%2BSpeaker&amp;p%5B%5D=facets.type%255B%255D%3DSoundbar&amp;sid=0pm%2F0o7&amp;otracker=nmenu_sub_Electronics_0_Home%20Audio%20Speakers">Home
                    Audio Speakers</a></li>
                <li class="_1KCOnI _3ZgIXy"><a title="Home Theatres"
                    href="/home-entertainment/video-players-accessories/home-theaters/pr?sid=ckf%2Csee%2Cmi3&amp;otracker=nmenu_sub_Electronics_0_Home%20Theatres">Home
                    Theatres</a></li>
                <li class="_1KCOnI _3ZgIXy"><a title="Soundbars"
                    href="/audio-video/speakers/pr?sid=0pm%2C0o7&amp;p%5B%5D=facets.type%255B%255D%3DSoundbar&amp;otracker=categorytree&amp;p%5B%5D=facets.serviceability%5B%5D%3Dtrue&amp;p%5B%5D=facets.fulfilled_by%255B%255D%3DFlipkart%2BAssured&amp;otracker=nmenu_sub_Electronics_0_Soundbars">Soundbars</a>
                </li>
                <li class="_1KCOnI _3ZgIXy"><a title="Bluetooth Speakers"
                    href="/audio-video/speakers/pr?sid=0pm%2C0o7&amp;otracker=categorytree&amp;p%5B%5D=facets.features%255B%255D%3DBluetooth&amp;otracker=nmenu_sub_Electronics_0_Bluetooth%20Speakers">Bluetooth
                    Speakers</a></li>
                <li class="_1KCOnI _3ZgIXy"><a title="DTH Set Top Box"
                    href="/home-entertainment/dth/pr?count=40&amp;otracker=categorytree&amp;p%5B%5D=facets.availability%255B%255D%3DExclude%2BOut%2Bof%2BStock&amp;sid=ckf%2F9wn&amp;otracker=nmenu_sub_Electronics_0_DTH%20Set%20Top%20Box">DTH
                    Set Top Box</a></li>
                <li class="_1KCOnI _2BfSTw _1h5QLb _3ZgIXy"><a title="Smart Home Automation"
                    href="/smart-home-automation-store?otracker=nmenu_sub_Electronics_0_Smart%20Home%20Automation">Smart
                    Home Automation<span class="nsslWl"> &#9658;</span></a></li>
                <li class="_1KCOnI _3ZgIXy"><a title="Google Home"
                    href="/google-home-store?otracker=nmenu_sub_Electronics_0_Google%20Home">Google Home</a></li>
                <li class="_1KCOnI _2BfSTw _1h5QLb _3ZgIXy"><a title="Camera"
                    href="/camera-clp-store?otracker=nmenu_sub_Electronics_0_Camera">Camera<span class="nsslWl">
                      &#9658;</span></a></li>
                <li class="_1KCOnI _3ZgIXy"><a title="DSLR &amp; Mirrorless"
                    href="/cameras/dslr~type/pr?sid=jek%2Cp31&amp;otracker=nmenu_sub_Electronics_0_DSLR%20%26%20Mirrorless">DSLR
                    &amp; Mirrorless</a></li>
                <li class="_1KCOnI _3ZgIXy"><a title="Compact &amp; Bridge Cameras"
                    href="/cameras/point-shoot~type/pr?sid=jek%2Cp31&amp;otracker=nmenu_sub_Electronics_0_Compact%20%26%20Bridge%20Cameras">Compact
                    &amp; Bridge Cameras</a></li>
                <li class="_1KCOnI _3ZgIXy"><a title="Sports &amp; Action"
                    href="/cameras/sports-action/pr?count=40&amp;sid=jek%2Fp31%2Fs3q&amp;otracker=nmenu_sub_Electronics_0_Sports%20%26%20Action">Sports
                    &amp; Action</a></li>
                <li class="_1KCOnI _2BfSTw _1h5QLb _3ZgIXy"><a title="Camera Accessories"
                    href="/cameras-accessories-store?otracker=nmenu_sub_Electronics_0_Camera%20Accessories">Camera
                    Accessories<span class="nsslWl"> &#9658;</span></a></li>
                <li class="_1KCOnI _3ZgIXy"><a title="Lens"
                    href="/camera-accessories/camera-lenses/pr?uniqueBstoreparam1=val1&amp;sid=jek%2C6l2%2Ce9y&amp;otracker=nmenu_sub_Electronics_0_Lens">Lens</a>
                </li>
                <li class="_1KCOnI _3ZgIXy"><a title="Tripods"
                    href="/camera-accessories/tripods/pr?count=40&amp;otracker=categorytree&amp;p%5B%5D=sort%3Dpopularity&amp;sid=jek%2F6l2%2Fce6&amp;otracker=nmenu_sub_Electronics_0_Tripods">Tripods</a>
                </li>
                <li class="_1KCOnI _2BfSTw _1h5QLb _3ZgIXy"><a title="Network Components"
                    href="/computers/network-components/pr?sid=6bo,70k&amp;otracker=categorytree&amp;otracker=nmenu_sub_Electronics_0_Network%20Components">Network
                    Components<span class="nsslWl"> &#9658;</span></a></li>
                <li class="_1KCOnI _3ZgIXy"><a title="Routers"
                    href="/computers/network-components/routers/pr?sid=6bo%2F70k%2F2a2&amp;otracker=nmenu_sub_Electronics_0_Routers">Routers</a>
                </li>
              </ul>
            </li>
            <li class="mega-menu-col">
              <ul class="QPOmNK">
                <li class="_1KCOnI _2BfSTw">Featured</li>
                <li class="_1KCOnI _3ZgIXy"><a title="Laptops on Buyback Guarantee"
                    href="/laptops/~buyback-guarantee-on-laptops-/pr?sid=6bo%2Cb5g&amp;otracker=nmenu_sub_Electronics_0_Laptops%20on%20Buyback%20Guarantee">Laptops
                    on Buyback Guarantee</a></li>
                <li class="_1KCOnI _3ZgIXy"><a title="Flipkart SmartBuy"
                    href="/flipkart-smartbuy-store?otracker=nmenu_sub_Electronics_0_Flipkart%20SmartBuy">Flipkart
                    SmartBuy</a></li>
                <li class="_1KCOnI _3ZgIXy"><a title="Li-Polymer Power Banks"
                    href="/lithium-polymer-power-banks-store?otracker=nmenu_sub_Electronics_0_Li-Polymer%20Power%20Banks">Li-Polymer
                    Power Banks</a></li>
                <li class="_1KCOnI _3ZgIXy"><a title="Sony PS4 Pro &amp; Slim"
                    href="/games/~sony-play-station/pr?facets.availability=Exclude%20Out%20of%20Stock&amp;sid=4rr%2Ctg9&amp;p%5B%5D=facets.filter_standard%255B%255D%3D1&amp;facets.availability[]=Exclude+Out+of+Stock&amp;otracker=nmenu_sub_Electronics_0_Sony%20PS4%20Pro%20%26%20Slim">Sony
                    PS4 Pro &amp; Slim</a></li>
                <li class="_1KCOnI _3ZgIXy"><a title="Apple Products"
                    href="/apple-products-store?otracker=nmenu_sub_Electronics_0_Apple%20Products">Apple Products</a>
                </li>
                <li class="_1KCOnI _3ZgIXy"><a title="Microsoft Store"
                    href="/microsoft-store?otracker=nmenu_sub_Electronics_0_Microsoft%20Store">Microsoft Store</a>
                </li>
                <li class="_1KCOnI _3ZgIXy"><a title="Lenovo Phab Series"
                    href="/mobiles-accessories/~lenovo-phab-series1/pr?sid=tyy&amp;otracker=nmenu_sub_Electronics_0_Lenovo%20Phab%20Series">Lenovo
                    Phab Series</a></li>
                <li class="_1KCOnI _3ZgIXy"><a title="JBL Speakers"
                    href="/all/audio-video/jbl~brand/pr?otracker=categorytree&amp;p%5B%5D=facets.availability%255B%255D%3DExclude%2BOut%2Bof%2BStock&amp;p%5B%5D=facets.brand%255B%255D%3DJBL&amp;sid=all%2F0pm&amp;otracker=nmenu_sub_Electronics_0_JBL%20Speakers">JBL
                    Speakers</a></li>
                <li class="_1KCOnI _3ZgIXy"><a title="Smartphones On Buyback Guarantee"
                    href="/buyback-guarantee-store?otracker=nmenu_sub_Electronics_0_Smartphones%20On%20Buyback%20Guarantee">Smartphones
                    On Buyback Guarantee</a></li>
                <li class="_1KCOnI _3ZgIXy"><a title="Philips"
                    href="/health-personal-care-appliances/pr?count=40&amp;otracker=categorytree&amp;p%5B%5D=facets.brand%255B%255D%3DPhilips&amp;p%5B%5D=facets.fulfilled_by%255B%255D%3DFlipkart%2BAssured&amp;sid=zlw&amp;otracker=nmenu_sub_Electronics_0_Philips">Philips</a>
                </li>
                <li class="_1KCOnI _3ZgIXy"><a title="Dr. Morepen"
                    href="/search?as=off&amp;as-show=on&amp;count=40&amp;otracker=start&amp;p%5B%5D=facets.brand%255B%255D%3DDr.%2BMorepen&amp;q=bp+monitor&amp;sid=zlw&amp;otracker=nmenu_sub_Electronics_0_Dr.%20Morepen">Dr.
                    Morepen</a></li>
                <li class="_1KCOnI _3ZgIXy"><a title="Complete Mobile Protection"
                    href="/mobile-complete-protection-bbd-store?otracker=nmenu_sub_Electronics_0_Complete%20Mobile%20Protection">Complete
                    Mobile Protection</a></li>
                <li class="_1KCOnI _3ZgIXy"><a title="Mobiles No Cost EMI"
                    href="/no-cost-emi-mobiles-store?otracker=nmenu_sub_Electronics_0_Mobiles%20No%20Cost%20EMI">Mobiles
                    No Cost EMI</a>
                </li>
              </ul>
            </li>
  
          </ul>
  
        </li>
  
        <li class="nav-item">
          <a class="nav-link">TVs &amp; Appliances<i class="fas fa-chevron-down icon-dropdown"></i></a>
          
        </li>
  
        <li class="nav-item">
            <a class="nav-link">Men<i class="fas fa-chevron-down icon-dropdown"></i></a>
          
        </li>
  
        <li class="nav-item">
            <a class="nav-link">Women<i class="fas fa-chevron-down icon-dropdown"></i></a>
          
        </li>
  
        <li class="nav-item">
          <a class="nav-link">Baby &amp; Kids<i class="fas fa-chevron-down icon-dropdown"></i></a>
          
        </li>
  
        <li class="nav-item dropdown-on-hover">
          <a class="nav-link">Home &amp; Furniture<i class="fas fa-chevron-down icon-dropdown"></i></a>
          
          <ul class="_2OZ78M _1fj2FQ dropdown-content">
  
              <li class="mega-menu-col">
                <ul class="QPOmNK">
                  <li class="_1KCOnI _2BfSTw _1h5QLb _3ZgIXy"><a title="Mobiles"
                      href="/mobile-phones-store?otracker=nmenu_sub_Electronics_0_Mobiles">Mobiles<span class="nsslWl">
                        &#9658; </span></a></li>
                  <li class="_1KCOnI _3ZgIXy"><a title="Mi"
                      href="/mobiles/mi~brand/pr?sid=tyy,4io&amp;otracker=nmenu_sub_Electronics_0_Mi">Mi</a></li>
                  <li class="_1KCOnI _3ZgIXy"><a title="Realme"
                      href="/mobiles/pr?sid=tyy%2C4io&amp;p%5B%5D=facets.brand%255B%255D%3DRealme&amp;otracker=nmenu_sub_Electronics_0_Realme">Realme</a>
                  </li>
                  <li class="_1KCOnI _3ZgIXy"><a title="Samsung"
                      href="/samsung-mobile-store?otracker=nmenu_sub_Electronics_0_Samsung">Samsung</a></li>
                  <li class="_1KCOnI _3ZgIXy"><a title="Infinix"
                      href="/mobiles/pr?sid=tyy%2C4io&amp;otracker=categorytree&amp;p%5B%5D=facets.brand%255B%255D%3DInfinix&amp;otracker=nmenu_sub_Electronics_0_Infinix">Infinix</a>
                  </li>
                  <li class="_1KCOnI _3ZgIXy"><a title="OPPO"
                      href="/oppo-mobile-phones-store?otracker=nmenu_sub_Electronics_0_OPPO">OPPO</a></li>
                  <li class="_1KCOnI _3ZgIXy"><a title="Apple"
                      href="/apple-products-store?otracker=nmenu_sub_Electronics_0_Apple">Apple</a></li>
                  <li class="_1KCOnI _3ZgIXy"><a title="Vivo"
                      href="/mobiles/pr?sid=tyy%2C4io&amp;p%5B%5D=facets.serviceability%5B%5D%3Dfalse&amp;p%5B%5D=facets.brand%255B%255D%3DVivo&amp;otracker=nmenu_sub_Electronics_0_Vivo">Vivo</a>
                  </li>
                  <li class="_1KCOnI _3ZgIXy"><a title="Honor"
                      href="/search?p[]=facets.brand%255B%255D%3DHonor&amp;sid=tyy%2F4io&amp;otracker=CLP_filters&amp;otracker=nmenu_sub_Electronics_0_Honor">Honor</a>
                  </li>
                  <li class="_1KCOnI _3ZgIXy"><a title="Asus"
                      href="/mobiles/pr?sid=tyy%2C4io&amp;p%5B%5D=facets.brand%255B%255D%3DAsus&amp;otracker=nmenu_sub_Electronics_0_Asus">Asus</a>
                  </li>
                  <li class="_1KCOnI _3ZgIXy"><a title="Pixel 3a | 3a XL"
                      href="/mobiles/~pixel-3a-series/pr?sid=tyy%2C4io&amp;otracker=nmenu_sub_Electronics_0_Pixel%203a%20%7C%203a%20XL">Pixel
                      3a | 3a XL</a></li>
                  <li class="_1KCOnI _3ZgIXy"><a title="Redmi K20 | K20 Pro"
                      href="/mobiles/~cs-u369u3adcv/pr?sid=tyy%2C4io&amp;otracker=nmenu_sub_Electronics_0_Redmi%20K20%20%7C%20K20%20Pro">Redmi
                      K20 | K20 Pro</a></li>
                  <li class="_1KCOnI _3ZgIXy"><a title="Realme X"
                      href="/mobiles/~cs-axw3ei2ufh/pr?sid=tyy%2C4io&amp;otracker=nmenu_sub_Electronics_0_Realme%20X">Realme
                      X</a></li>
                  <li class="_1KCOnI _3ZgIXy"><a title="Redmi 7A"
                      href="/mobiles/~cs-iwmqh0q1cp/pr?sid=tyy%2C4io&amp;otracker=nmenu_sub_Electronics_0_Redmi%207A">Redmi
                      7A</a></li>
                  <li class="_1KCOnI _3ZgIXy"><a title="Vivo Z1Pro"
                      href="/tyy/4io/~cs-fz8is2wkwi/pr?sid=tyy,4io&amp;otracker=nmenu_sub_Electronics_0_Vivo%20Z1Pro">Vivo
                      Z1Pro</a></li>
                  <li class="_1KCOnI _3ZgIXy"><a title="Realme 5 Pro"
                      href="/mobiles/~cs-2961zwwdcj/pr?sid=tyy,4io&amp;sort=price_asc&amp;otracker=nmenu_sub_Electronics_0_Realme%205%20Pro">Realme
                      5 Pro</a></li>
                  <li class="_1KCOnI _3ZgIXy"><a title="Oppo Reno 2z"
                      href="/mobiles/~cs-rohz4ga542/pr?sid=tyy,4io&amp;otracker=nmenu_sub_Electronics_0_Oppo%20Reno%202z">Oppo
                      Reno 2z</a></li>
                  <li class="_1KCOnI _3ZgIXy"><a title="Realme 5"
                      href="/mobiles/~cs-njlqhhl0ch/pr?sid=tyy,4io&amp;otracker=nmenu_sub_Electronics_0_Realme%205">Realme
                      5</a></li>
                </ul>
              </li>
              <li class="mega-menu-col">
    
                <ul class="QPOmNK">
                  <li class="_1KCOnI _2BfSTw _1h5QLb _3ZgIXy"><a title="Mobile Accessories"
                      href="/mobile-accessories/pr?sid=tyy,4mr&amp;otracker=nmenu_sub_Electronics_0_Mobile%20Accessories">Mobile
                      Accessories<span class="nsslWl"> &#9658; </span></a></li>
                  <li class="_1KCOnI _3ZgIXy"><a title="Mobile Cases"
                      href="/mobile-accessories/cases-and-covers/pr?sid=tyy,4mr,q2u&amp;otracker=nmenu_sub_Electronics_0_Mobile%20Cases">Mobile
                      Cases</a></li>
                  <li class="_1KCOnI _3ZgIXy"><a title="Headphones &amp; Headsets"
                      href="/headphones-store?otracker=nmenu_sub_Electronics_0_Headphones%20%26%20Headsets">Headphones
                      &amp; Headsets</a></li>
                  <li class="_1KCOnI _3ZgIXy"><a title="Power Banks"
                      href="/mobile-accessories/power-banks/pr?sid=tyy,4mr,fu6&amp;otracker=categorytree&amp;otracker=nmenu_sub_Electronics_0_Power%20Banks">Power
                      Banks</a></li>
                  <li class="_1KCOnI _3ZgIXy"><a title="Screenguards"
                      href="/mobile-accessories/screen-guards/pr?sid=tyy,4mr,lrv&amp;otracker=nmenu_sub_Electronics_0_Screenguards">Screenguards</a>
                  </li>
                  <li class="_1KCOnI _3ZgIXy"><a title="Memory Cards"
                      href="/mobile-accessories/memory-cards-readers/memory-cards/pr?sid=tyy,4mr,zzf,7y7&amp;otracker=nmenu_sub_Electronics_0_Memory%20Cards">Memory
                      Cards</a></li>
                  <li class="_1KCOnI _3ZgIXy"><a title="Smart Headphones"
                      href="/wearable-smart-devices/smart-headphones/pr?sid=ajy,vam&amp;otracker=nmenu_sub_Electronics_0_Smart%20Headphones">Smart
                      Headphones</a></li>
                  <li class="_1KCOnI _3ZgIXy"><a title="Mobile Cables"
                      href="/mobile-accessories/cables/pr?sid=tyy,4mr,3nu&amp;otracker=nmenu_sub_Electronics_0_Mobile%20Cables">Mobile
                      Cables</a></li>
                  <li class="_1KCOnI _3ZgIXy"><a title="Mobile Chargers"
                      href="/mobile-accessories/chargers/pr?sid=tyy,4mr,tp2&amp;otracker=nmenu_sub_Electronics_0_Mobile%20Chargers">Mobile
                      Chargers</a></li>
                  <li class="_1KCOnI _3ZgIXy"><a title="Mobile Holders"
                      href="/mobile-accessories/mobile-holders/pr?sid=tyy,4mr,vnf&amp;marketplace=FLIPKART&amp;otracker=nmenu_sub_Electronics_0_Mobile%20Holders">Mobile
                      Holders</a></li>
    
                  <li class="_1KCOnI _2BfSTw _1h5QLb _3ZgIXy"><a title="Smart Wearable Tech"
                      href="/smart-wearables-store?otracker=nmenu_sub_Electronics_0_Smart%20Wearable%20Tech">Smart
                      Wearable Tech<span class="nsslWl"> &#9658;</span></a></li>
                  <li class="_1KCOnI _3ZgIXy"><a title="Smart Watches"
                      href="/smartwatches-store?otracker=nmenu_sub_Electronics_0_Smart%20Watches">Smart Watches</a></li>
                  <li class="_1KCOnI _3ZgIXy"><a title="Smart Glasses (VR)"
                      href="/wearable-smart-devices/smart-glasses/pr?sid=ajy%2Ctcy&amp;otracker=nmenu_sub_Electronics_0_Smart%20Glasses%20(VR)">Smart
                      Glasses (VR)</a></li>
                  <li class="_1KCOnI _3ZgIXy"><a title="Smart Bands"
                      href="/wearable-smart-devices/smart-bands/pr?sid=ajy%2Cq7p&amp;otracker=nmenu_sub_Electronics_0_Smart%20Bands">Smart
                      Bands</a></li>
                  <li class="_1KCOnI _2BfSTw _1h5QLb _3ZgIXy"><a title="Health Care Appliances"
                      href="/health-and-appliances-store?otracker=nmenu_sub_Electronics_0_Health%20Care%20Appliances">Health
                      Care Appliances<span class="nsslWl"> &#9658;</span></a></li>
                  <li class="_1KCOnI _3ZgIXy"><a title="Bp Monitors"
                      href="/health-personal-care-appliances/health-care/health-care-devices/blood-pressure-monitors/pr?sid=zlw,nyl,bvv,kbk&amp;otracker=nmenu_sub_Electronics_0_Bp%20Monitors">Bp
                      Monitors</a></li>
                  <li class="_1KCOnI _3ZgIXy"><a title="Weighing Scale"
                      href="/beauty-and-personal-care/health-care/health-care-devices/weighing-scales/pr?sid=t06,nyl,bvv,o4o&amp;otracker=nmenu_sub_Electronics_0_Weighing%20Scale">Weighing
                      Scale</a></li>
                </ul>
              </li>
              <li class="mega-menu-col">
                <ul class="QPOmNK">
                  <li class="_1KCOnI _2BfSTw _1h5QLb _3ZgIXy"><a title="Laptops"
                      href="/laptops-store?otracker=nmenu_sub_Electronics_0_Laptops">Laptops<span class="nsslWl">
                        &#9658;</span></a></li>
                  <li class="_1KCOnI _3ZgIXy"><a title="Gaming Laptops"
                      href="/gaming-laptops-store?otracker=nmenu_sub_Electronics_0_Gaming%20Laptops&amp;otracker=nmenu_sub_Electronics_0_Gaming%20Laptops">Gaming
                      Laptops</a></li>
                  <li class="_1KCOnI _2BfSTw _1h5QLb _3ZgIXy"><a title="Desktop PCs"
                      href="/desktop-pc-store?otracker=nmenu_sub_Electronics_0_Desktop%20PCs">Desktop PCs<span
                        class="nsslWl"> &#9658;</span></a></li>
                  <li class="_1KCOnI _2BfSTw _1h5QLb _3ZgIXy"><a title="Gaming &amp; Accessories"
                      href="/gaming-store?otracker=nmenu_sub_Electronics_0_Gaming%20%26%20Accessories">Gaming &amp;
                      Accessories<span class="nsslWl"> &#9658;</span></a></li>
    
                  <li class="_1KCOnI _2BfSTw _1h5QLb _3ZgIXy"><a title="Computer Accessories"
                      href="/computer-accessories-store?otracker=nmenu_sub_Electronics_0_Computer%20Accessories">Computer
                      Accessories<span class="nsslWl"> &#9658;</span></a></li>
                  <li class="_1KCOnI _3ZgIXy"><a title="External Hard Disks"
                      href="/external-hard-disk-store?otracker=nmenu_sub_Electronics_0_External%20Hard%20Disks">External
                      Hard Disks</a></li>
                  <li class="_1KCOnI _3ZgIXy"><a title="Pendrives"
                      href="/computers/storage/pen-drives/pr?sid=6bo,jdy,uar&amp;otracker=nmenu_sub_Electronics_0_Pendrives">Pendrives</a>
                  </li>
                  <li class="_1KCOnI _3ZgIXy"><a title="Laptop Skins &amp; Decals"
                      href="/laptop-accessories/laptop-skins-decals/pr?sid=6bo,ai3,zvm&amp;otracker=nmenu_sub_Electronics_0_Laptop%20Skins%20%26%20Decals">Laptop
                      Skins &amp; Decals</a></li>
                  <li class="_1KCOnI _3ZgIXy"><a title="Laptop Bags"
                      href="/laptop-accessories/laptop-bags/pr?sid=6bo%2Cai3%2Cqq9&amp;otracker=nmenu_sub_Electronics_0_Laptop%20Bags">Laptop
                      Bags</a></li>
                  <li class="_1KCOnI _3ZgIXy"><a title="Mouse"
                      href="/laptop-accessories/mouse/pr?sid=6bo,ai3,2ay&amp;otracker=nmenu_sub_Electronics_0_Mouse">Mouse</a>
                  </li>
                  <li class="_1KCOnI _2BfSTw _1h5QLb _3ZgIXy"><a title="Computer Peripherals"
                      href="/peripherals-store?otracker=nmenu_sub_Electronics_0_Computer%20Peripherals">Computer
                      Peripherals<span class="nsslWl"> &#9658;</span></a></li>
                  <li class="_1KCOnI _3ZgIXy"><a title="Printers &amp; Ink Cartridges"
                      href="/printer-inks-store?otracker=nmenu_sub_Electronics_0_Printers%20%26%20Ink%20Cartridges">Printers
                      &amp; Ink Cartridges</a></li>
                  <li class="_1KCOnI _3ZgIXy"><a title="Monitors"
                      href="/monitors-store?otracker=nmenu_sub_Electronics_0_Monitors">Monitors</a></li>
                  <li class="_1KCOnI _2BfSTw _1h5QLb _3ZgIXy"><a title="Tablets"
                      href="/tablets-store?otracker=nmenu_sub_Electronics_0_Tablets">Tablets<span class="nsslWl">
                        &#9658;</span></a></li>
                  <li class="_1KCOnI _3ZgIXy"><a title="Apple iPads"
                      href="/tablets/~apple-ipads/pr?sid=tyy,hry&amp;otracker=nmenu_sub_Electronics_0_Apple%20iPads">Apple
                      iPads</a></li>
                </ul>
              </li>
              <li class="mega-menu-col">
                <ul class="QPOmNK">
                  <li class="_1KCOnI _3ZgIXy tv"><a title="Televisions"
                      href="/television-store?otracker=nmenu_sub_Electronics_0_Televisions">Televisions</a></li>
                  <li class="_1KCOnI _2BfSTw _1h5QLb _3ZgIXy"><a title="Speakers"
                      href="/audio-speaker-store?otracker=nmenu_sub_Electronics_0_Speakers">Speakers<span class="nsslWl">
                        &#9658;</span></a></li>
                  <li class="_1KCOnI _3ZgIXy"><a title="Home Audio Speakers"
                      href="/audio-video/speakers/pr?count=40&amp;otracker=categorytree&amp;p%5B%5D=facets.type%255B%255D%3DHome%2BAudio%2BSpeaker&amp;p%5B%5D=facets.type%255B%255D%3DLaptop%252FDesktop%2BSpeaker&amp;p%5B%5D=facets.type%255B%255D%3DSoundbar&amp;sid=0pm%2F0o7&amp;otracker=nmenu_sub_Electronics_0_Home%20Audio%20Speakers">Home
                      Audio Speakers</a></li>
                  <li class="_1KCOnI _3ZgIXy"><a title="Home Theatres"
                      href="/home-entertainment/video-players-accessories/home-theaters/pr?sid=ckf%2Csee%2Cmi3&amp;otracker=nmenu_sub_Electronics_0_Home%20Theatres">Home
                      Theatres</a></li>
                  <li class="_1KCOnI _3ZgIXy"><a title="Soundbars"
                      href="/audio-video/speakers/pr?sid=0pm%2C0o7&amp;p%5B%5D=facets.type%255B%255D%3DSoundbar&amp;otracker=categorytree&amp;p%5B%5D=facets.serviceability%5B%5D%3Dtrue&amp;p%5B%5D=facets.fulfilled_by%255B%255D%3DFlipkart%2BAssured&amp;otracker=nmenu_sub_Electronics_0_Soundbars">Soundbars</a>
                  </li>
                  <li class="_1KCOnI _3ZgIXy"><a title="Bluetooth Speakers"
                      href="/audio-video/speakers/pr?sid=0pm%2C0o7&amp;otracker=categorytree&amp;p%5B%5D=facets.features%255B%255D%3DBluetooth&amp;otracker=nmenu_sub_Electronics_0_Bluetooth%20Speakers">Bluetooth
                      Speakers</a></li>
                  <li class="_1KCOnI _3ZgIXy"><a title="DTH Set Top Box"
                      href="/home-entertainment/dth/pr?count=40&amp;otracker=categorytree&amp;p%5B%5D=facets.availability%255B%255D%3DExclude%2BOut%2Bof%2BStock&amp;sid=ckf%2F9wn&amp;otracker=nmenu_sub_Electronics_0_DTH%20Set%20Top%20Box">DTH
                      Set Top Box</a></li>
                  <li class="_1KCOnI _2BfSTw _1h5QLb _3ZgIXy"><a title="Smart Home Automation"
                      href="/smart-home-automation-store?otracker=nmenu_sub_Electronics_0_Smart%20Home%20Automation">Smart
                      Home Automation<span class="nsslWl"> &#9658;</span></a></li>
                  <li class="_1KCOnI _3ZgIXy"><a title="Google Home"
                      href="/google-home-store?otracker=nmenu_sub_Electronics_0_Google%20Home">Google Home</a></li>
                  <li class="_1KCOnI _2BfSTw _1h5QLb _3ZgIXy"><a title="Camera"
                      href="/camera-clp-store?otracker=nmenu_sub_Electronics_0_Camera">Camera<span class="nsslWl">
                        &#9658;</span></a></li>
                  <li class="_1KCOnI _3ZgIXy"><a title="DSLR &amp; Mirrorless"
                      href="/cameras/dslr~type/pr?sid=jek%2Cp31&amp;otracker=nmenu_sub_Electronics_0_DSLR%20%26%20Mirrorless">DSLR
                      &amp; Mirrorless</a></li>
                  <li class="_1KCOnI _3ZgIXy"><a title="Compact &amp; Bridge Cameras"
                      href="/cameras/point-shoot~type/pr?sid=jek%2Cp31&amp;otracker=nmenu_sub_Electronics_0_Compact%20%26%20Bridge%20Cameras">Compact
                      &amp; Bridge Cameras</a></li>
                  <li class="_1KCOnI _3ZgIXy"><a title="Sports &amp; Action"
                      href="/cameras/sports-action/pr?count=40&amp;sid=jek%2Fp31%2Fs3q&amp;otracker=nmenu_sub_Electronics_0_Sports%20%26%20Action">Sports
                      &amp; Action</a></li>
                  <li class="_1KCOnI _2BfSTw _1h5QLb _3ZgIXy"><a title="Camera Accessories"
                      href="/cameras-accessories-store?otracker=nmenu_sub_Electronics_0_Camera%20Accessories">Camera
                      Accessories<span class="nsslWl"> &#9658;</span></a></li>
                  <li class="_1KCOnI _3ZgIXy"><a title="Lens"
                      href="/camera-accessories/camera-lenses/pr?uniqueBstoreparam1=val1&amp;sid=jek%2C6l2%2Ce9y&amp;otracker=nmenu_sub_Electronics_0_Lens">Lens</a>
                  </li>
                  <li class="_1KCOnI _3ZgIXy"><a title="Tripods"
                      href="/camera-accessories/tripods/pr?count=40&amp;otracker=categorytree&amp;p%5B%5D=sort%3Dpopularity&amp;sid=jek%2F6l2%2Fce6&amp;otracker=nmenu_sub_Electronics_0_Tripods">Tripods</a>
                  </li>
                  <li class="_1KCOnI _2BfSTw _1h5QLb _3ZgIXy"><a title="Network Components"
                      href="/computers/network-components/pr?sid=6bo,70k&amp;otracker=categorytree&amp;otracker=nmenu_sub_Electronics_0_Network%20Components">Network
                      Components<span class="nsslWl"> &#9658;</span></a></li>
                  <li class="_1KCOnI _3ZgIXy"><a title="Routers"
                      href="/computers/network-components/routers/pr?sid=6bo%2F70k%2F2a2&amp;otracker=nmenu_sub_Electronics_0_Routers">Routers</a>
                  </li>
                </ul>
              </li>
              <li class="mega-menu-col">
                <ul class="QPOmNK">
                  <li class="_1KCOnI _2BfSTw">Featured</li>
                  <li class="_1KCOnI _3ZgIXy"><a title="Laptops on Buyback Guarantee"
                      href="/laptops/~buyback-guarantee-on-laptops-/pr?sid=6bo%2Cb5g&amp;otracker=nmenu_sub_Electronics_0_Laptops%20on%20Buyback%20Guarantee">Laptops
                      on Buyback Guarantee</a></li>
                  <li class="_1KCOnI _3ZgIXy"><a title="Flipkart SmartBuy"
                      href="/flipkart-smartbuy-store?otracker=nmenu_sub_Electronics_0_Flipkart%20SmartBuy">Flipkart
                      SmartBuy</a></li>
                  <li class="_1KCOnI _3ZgIXy"><a title="Li-Polymer Power Banks"
                      href="/lithium-polymer-power-banks-store?otracker=nmenu_sub_Electronics_0_Li-Polymer%20Power%20Banks">Li-Polymer
                      Power Banks</a></li>
                  <li class="_1KCOnI _3ZgIXy"><a title="Sony PS4 Pro &amp; Slim"
                      href="/games/~sony-play-station/pr?facets.availability=Exclude%20Out%20of%20Stock&amp;sid=4rr%2Ctg9&amp;p%5B%5D=facets.filter_standard%255B%255D%3D1&amp;facets.availability[]=Exclude+Out+of+Stock&amp;otracker=nmenu_sub_Electronics_0_Sony%20PS4%20Pro%20%26%20Slim">Sony
                      PS4 Pro &amp; Slim</a></li>
                  <li class="_1KCOnI _3ZgIXy"><a title="Apple Products"
                      href="/apple-products-store?otracker=nmenu_sub_Electronics_0_Apple%20Products">Apple Products</a>
                  </li>
                  <li class="_1KCOnI _3ZgIXy"><a title="Microsoft Store"
                      href="/microsoft-store?otracker=nmenu_sub_Electronics_0_Microsoft%20Store">Microsoft Store</a>
                  </li>
                  <li class="_1KCOnI _3ZgIXy"><a title="Lenovo Phab Series"
                      href="/mobiles-accessories/~lenovo-phab-series1/pr?sid=tyy&amp;otracker=nmenu_sub_Electronics_0_Lenovo%20Phab%20Series">Lenovo
                      Phab Series</a></li>
                  <li class="_1KCOnI _3ZgIXy"><a title="JBL Speakers"
                      href="/all/audio-video/jbl~brand/pr?otracker=categorytree&amp;p%5B%5D=facets.availability%255B%255D%3DExclude%2BOut%2Bof%2BStock&amp;p%5B%5D=facets.brand%255B%255D%3DJBL&amp;sid=all%2F0pm&amp;otracker=nmenu_sub_Electronics_0_JBL%20Speakers">JBL
                      Speakers</a></li>
                  <li class="_1KCOnI _3ZgIXy"><a title="Smartphones On Buyback Guarantee"
                      href="/buyback-guarantee-store?otracker=nmenu_sub_Electronics_0_Smartphones%20On%20Buyback%20Guarantee">Smartphones
                      On Buyback Guarantee</a></li>
                  <li class="_1KCOnI _3ZgIXy"><a title="Philips"
                      href="/health-personal-care-appliances/pr?count=40&amp;otracker=categorytree&amp;p%5B%5D=facets.brand%255B%255D%3DPhilips&amp;p%5B%5D=facets.fulfilled_by%255B%255D%3DFlipkart%2BAssured&amp;sid=zlw&amp;otracker=nmenu_sub_Electronics_0_Philips">Philips</a>
                  </li>
                  <li class="_1KCOnI _3ZgIXy"><a title="Dr. Morepen"
                      href="/search?as=off&amp;as-show=on&amp;count=40&amp;otracker=start&amp;p%5B%5D=facets.brand%255B%255D%3DDr.%2BMorepen&amp;q=bp+monitor&amp;sid=zlw&amp;otracker=nmenu_sub_Electronics_0_Dr.%20Morepen">Dr.
                      Morepen</a></li>
                  <li class="_1KCOnI _3ZgIXy"><a title="Complete Mobile Protection"
                      href="/mobile-complete-protection-bbd-store?otracker=nmenu_sub_Electronics_0_Complete%20Mobile%20Protection">Complete
                      Mobile Protection</a></li>
                  <li class="_1KCOnI _3ZgIXy"><a title="Mobiles No Cost EMI"
                      href="/no-cost-emi-mobiles-store?otracker=nmenu_sub_Electronics_0_Mobiles%20No%20Cost%20EMI">Mobiles
                      No Cost EMI</a>
                  </li>
                </ul>
              </li>
    
            </ul>
        </li>
  
        <li class="nav-item dropdown">
          <a class="nav-link"> Sports, Books &amp; More<i class="fas fa-chevron-down icon-dropdown"></i></a>
        </li>
  
        <li class="nav-item">
          <a class="nav-link" href="#">Grocery</a>
        </li>
  
        <li class="nav-item">
            <a class="nav-link" href="#">Offer Zone</a>
          </li>
      </ul>
    </div>
  </nav>
  
  <!-- *****************************************    START: CONTENT    ***************************************** -->
  
  <div class="container-fluid">
  
    <banners [banners]="_banners" [bannerDefaultHeight]="_bannerDefaultHeight"> </banners>
  
    <display-items [Items]="Items" [itemImageDefaultHeight]="itemImageDefaultHeight"> </display-items>
  
    <medium-banners></medium-banners>
   
    <footer>CopyRights 2019@Nishant Kumar</footer>
  
  </div>
  
  <!-- *****************************************    END: CONTENT    ***************************************** -->