body {
  background-color: #f1f3f6;
}

.main-nav .nav-link {
  color: white !important;
  font-size: 1.1em;
}

.nav-item {
  margin: 0px 15px;
  cursor: pointer;
}

.brand-name {
  font-weight: bold;
  font-size: 1.5em;
  font-family: Arial;
}

.nav-search-box {
  width: 30em !important;
  margin-right: 0em !important;
  border-right: none;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.icon-search {
  color: #17a2b8 !important;
}

.btn-search {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  background-color: white;

  border: 1px solid #ced4da;
  border-left: none !important;

  margin-right: 3em;
}

.txt-shadow {
  text-shadow: 3px 2px #343a40;
}

.icon-cart {
  font-size: 1.2em !important;
  margin-right: 3px !important;
}

.icon-store {
  font-size: 1.25em;
  margin: 0.2em 0em 0.2em 3em;
  color: #343a40;
}

.icon-dropdown {
  font-size: .7em;
  color: blue;
  padding: 0px 5px;
}

.icon-bell, .icon-briefcase, .icon-question, .icon-ad, .icon-download {
  color: blue;
  margin-right: 15px;
}

.categories-nav .nav-item {
  margin: 0px 10px;
}

.categories-nav .nav-link {
  background-color: #fff;
  color: #212121;
  font-size: 0.95em;
  font-weight: 600;
  font-family: Arial, sans-serif;
}

.container-fluid {
  margin: 0;
  padding: 5px !important;
  background-color: #ebf0f5;
}

footer {
  text-align: center;
  order: 1px solid #17a2b8;
  background-color: #212121;
  color: whitesmoke;
  margin-top: 5px; 
}

/* menu settings */


/* Remove default settings */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: black;
}

._2BfSTw {
  font-weight: bold;
  font-size: 17px;
  margin: 10px 2px 5px 0px;
}

.icon-triangle-right{
  padding: 0px 7px;
  color: lightslategrey;;
}


/* Create 5 equal columns that floats next to each other */
.mega-menu-col {
  float: left;
  width: 20%;
}

.tv {
  margin-top: 10px;
}

/* The dropdown container */
.dropdown-on-hover {
  float: left;
  overflow: hidden;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  width: 98%;
  left: 1%;
  right: 1%;
  padding: 10px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 10;
}

/* Show the dropdown content on hover */
.dropdown-on-hover:hover .dropdown-content {
  display: block;
}


/** --------------------- LOGIN -------------------- **/

.modal-content {
  width: 50% !important;
  margin: 75px auto;
}

.myModal-custom-content {
  width: 100%;
  display: flex;
  color: white;
  min-height: 78vh;
}

.sidebar {
  flex: 1;
  background-color: #2874f0;
  border-radius: 5px 0 0 5px;
  padding: 3em 2em;
  background-image: url('https://img1a.flixcart.com/www/linchpin/fk-cp-zion/img/login_img_dec4bf.png');
  background-position: center 85%;
  background-repeat: no-repeat;  
}

.sidebar p {
  font-size: 1.1em;
}

.main {
  flex: 1.5;
  padding: 2em 2em;
  border-radius: 0 5px 5px 0;
}

.close-modal .icon-close {
  font-size: 1.8em;
  color: #fff;
  position: relative;
  top: -32px;
  right: -350px;
  cursor: pointer;
}

.myModal-custom-content .main input {
  padding: 3px 5px;
  border: none;
  color: black;
  outline: none;
}

.myModal-custom-content .main input[type="text"],
.myModal-custom-content .main input[type="number"] {
  border-bottom: 1px solid lightgrey;
  margin: 2em 0 2.5em 0;
  width: 100%;
}

.myModal-custom-content .main input[type="text"]:focus,
.myModal-custom-content .main input[type="number"]:focus {
  border-bottom: 1px solid  #0d63ee;
}

.myModal-custom-content .main input[type="password"] {
  width: 76%;
}

.main a {
  text-decoration: none !important;
  color: #0d63ee;
}

.main .pass a{
  float: right;
}

.main .pass  {
  border-bottom: 1px solid lightgrey;
}

.underline {
  border-bottom: 1px solid  #0d63ee !important; 
}

.myModal-custom-content .main button {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 2px !important;
}

#login, #signup-continue {
  margin-top: 2.5em;
  background-color: #fb641b;
  color: #fff;
}

#request-otp, #signup-exst-user {
  background-color: #fff;
  color: #0d63ee; 
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
  transition: box-shadow .5s ease;
  outline-color: #cadbec;
}

#request-otp:active {
  transform: translateY(1px);
}

.main #or {
  text-align: center;
  margin: 1em auto;
  color: grey;
}

#signup {
  display: block;
  margin-top: 5em;
  text-align: center;
} 

.signup-otp-pass input[type="password"] {
  width: 100% !important;
  border-bottom: 1px solid lightgrey !important;
}

.signup-otp-pass input[type="password"]:focus {
  border-bottom: 1px solid  #0d63ee !important;
}

.error-msg {
  color: indianred; 
  font-weight: bold;
}