<!-- ===========================   START: Main Navigation bar   ============================= -->

<navbar [countOfCartItems]="countOfCartItems"></navbar>

<!-- =============================   END: Main Navigation bar   ============================= -->

<scroll-to-top></scroll-to-top>

<!-- =========================   START: Categories Navigation bar   ========================= -->

<div class="categories-nav">
   <navbar [navbar]="'NAV'" [Items]="navItems"></navbar>
</div>

<!-- ==========================  END: Categories Navigation bar   ============================ -->


<!-- ************   START: Login & Signup Modals  **************** -->

<login-and-signup></login-and-signup>

<!-- ************   END: Login & Signup Modals    **************** -->


<!-- ********************************    START: CONTENT    ******************************** -->

<div class="container-fluid">

        <router-outlet></router-outlet>

        <Footer></Footer>

</div>

<!-- ********************************    END: CONTENT    ******************************** -->