body {
  background-color: #f1f3f6;
}

.container-fluid {
  margin: 0;
  padding: 5px !important;
  background-color: #ebf0f5;
}

.categories-nav {
  margin-top: 3.45rem;
}

/* menu settings */

#signup:hover {
  color: blue;
}

._2BfSTw {
  font-weight: bold;
  font-size: 17px;
  margin: 10px 2px 5px 0px;
}

.icon-triangle-right{
  padding: 0px 7px;
  color: lightslategrey;;
}


/* Create 5 equal columns that floats next to each other */
.mega-menu-col {
  float: left;
  width: 20%;
}

.tv {
  margin-top: 10px;
}

/* The dropdown container */
.dropdown-on-hover {
  float: left;
  overflow: hidden;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  width: 98%;
  left: 1%;
  right: 1%;
  padding: 10px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 5000;
}

/* Show the dropdown content on hover */
.dropdown-on-hover:hover .dropdown-content {
  display: block;
}



/*************    Media Queries   *****************/

@media screen and (min-width: 600px) and (max-width: 746px) {
  .categories-nav {
    margin-top: 6.5rem;
  }
}

@media screen and (min-width: 501px) and (max-width: 599px) {
  .categories-nav {
    margin-top: 7rem;
  }
}

@media screen and (min-width: 311px) and (max-width: 500px) {
  .categories-nav {
    margin-top: 6.3rem;
  }
}

@media screen and (max-width: 310px) {
  .categories-nav {
    margin-top: 6rem;
  }
}



