.medium-banners {
    display: flex;
    justify-content: space-between;
}

.medium-banners img {
    width: 32.7%;
}

/*
@media screen and (max-width: 600px) {
    .medium-banners img{
        width: 50%;
    }
}
*/


