.special-input-btn {
  position: relative;
  display: inline-block;
  top: 4px;
}

.special-input-btn input, .special-input-btn textarea {
  padding: 9px;
  outline-color: aquamarine;
  border-color: #0b54c9;
  border-width: 1px;
  border-radius: 3px;
  font-size: 12px;
}

.special-input-btn input {
  width: 140px;
  height: 41px;
}

.input-textarea { 
  width: inherit !important;
}

.special-input-btn textarea {
  width: 100%;
}

.special-input-btn p {
  position: absolute;
  color: #878787;
  top: 2px;
  left: 5px;
  font-size: 10px;
  visibility: hidden;
}
