<!-- **************  Product Details Component (Details of a particular product item)  ************** -->

<div class="product-details" *ngIf="Item; else loading">

    <!--  ----------------    START: Product Image    ------------------  -->
    <div class="product-image-wrapper">

        <div class="product-image">

            <div class="image-select-bar" *ngIf="carouselOptions && carouselItems">

                <carousel 
                  [carouselOptions]="carouselOptions" 
                  [carouselItems]="carouselItems"
                  (hoverOverSubitemEvent)="onHoverOverSubitem($event)">
                </carousel>

            </div>
            
            <div class="selected-image">
                <img [src]="selectedImage">
            </div>

        </div>

        <div class="purchase-btn">
            <button type="button" class="add-to-cart" (click)="addToCart('CART')">
                <i class="fa fa-shopping-cart"></i>ADD TO CART</button>
            <button type="button" class="buy-now" (click)="addToCart('CHECKOUT')">
                <i class="fa fa-bolt"></i>BUY NOW</button>
        </div>
    </div>
    <!--  ----------------    END: Product Image    ------------------  -->


    <!--  ----------------    START: Product Description    ------------------  -->

    <div class="details">
        <div class="custom-breadcrumb">

            <small class="text-muted">
                Home > Mobiles & Accessories > Mobiles > Mi Mobiles > Redmi Note ...
            </small>

            <div class="share">
                <i class="fa fa-share icon-share"></i>Share
            </div>

            <div class="compare">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" value="">
                        <span class="cr"><i class="cr-icon fas fa-check-square"></i></span>
                        Compare
                    </label>
                </div>
            </div>

        </div>

        <div class="item" *ngIf="primaryDetailsOfItem">
            <div class="item-description">
                <h5 class="item-title">{{primaryDetailsOfItem.title}}</h5>
                <p>
                    <star-rating-view [rating]="primaryDetailsOfItem.rating.stars"></star-rating-view>
                    <span class="text-muted ml-2 mr-3">{{ primaryDetailsOfItem.rating.ratingsCount | number }} Ratings &amp;
                        {{ primaryDetailsOfItem.rating.reviewsCount | number }} Reviews</span>
                    <img *ngIf="primaryDetailsOfItem.fAssured" src="../../../assets/images/fa_8b4b59.png" height="21px" class="mt-1" />
                </p>
            </div>

            <div class="item-cost">

                <p class="discount">Extra ₹{{primaryDetailsOfItem.MRP - primaryDetailsOfItem.price}} discount</p>

                <h3><strong>₹{{primaryDetailsOfItem.price | number}}</strong>
                    <span class="text-muted mrp">₹{{primaryDetailsOfItem.MRP | number}}</span>
                    <span class="discount-percent">{{primaryDetailsOfItem.discount}}% off</span>
                    <span class="fa fa-info-circle icon-info"></span>
                </h3>
            </div>


            <!--  ***  start: "OFFERS section"   ***  -->

            <div class="offers mt-3">
                <h6><strong>Available offers</strong></h6>
                <ul class="text-dark">
                    <li *ngFor="let i of offersToDisplay_counter">
                        <div *ngIf="offers[i]">
                            <i [ngClass]="addBullet(offers[i].type)"></i>
                            <span class="category" *ngIf="offers[i].category">{{offers[i].category}}</span>
                            <span>{{offers[i].offer}}</span>
                            <span><a href="">{{offers[i].info}}</a></span>
                            <span class="fa fa-chevron-right icon-chevron-right"
                                *ngIf="addRightArrow(offers[i].type)"></span>
                        </div>
                    </li>

                </ul>
                <a class="view-more" *ngIf="remainingOffersToDisplay" (click)="setFinalCounterForOffers()">
                    View {{remainingOffersToDisplay}} more
                    <span *ngIf="remainingOffersToDisplay === 1"> offer</span>
                    <span *ngIf="remainingOffersToDisplay > 1">offers</span>
                </a>
            </div>

            <!--  ***  end: "OFFERS section"   ***  -->


            <!--  ***  start: "PROPERTIES section"   ***  -->

            <div class="properties-section">
                <properties 
                [item_properties]="item_properties" 
                [listOfProperties]="listOfProperties"
                [options_galleryView]="options_galleryView"
                [options_boxView]="options_boxView"
                [options_bulletsView]="options_bulletsView"
                >
                </properties>
            </div>
            
            <!--  ***    end: "PROPERTIES section"   ***  -->


            <!--  ***  start: "SPECIFICATIONS section"   ***  -->

            <div class="specifications-section">
                <specifications 
                  [item_specifications]="item_specifications"
                  [MPI_Info]="MPI_Info"
                >
                </specifications>
            </div>
           
            <!--  ***    end: "SPECIFICATIONS section"   ***  -->


             <!--  ***  start: "RATINGS & REVIEWS section"   ***  -->

             <div class="ratings-and-reviews-section">
                    <ratings-and-reviews
                      [ratingData]="_ratingData"
                    >

                    </ratings-and-reviews>
             </div>
               
            <!--  ***    end: "RATINGS & REVIEWS section"   ***  -->

        </div>


    </div>
    <!--  ----------------    END: Product Description    ------------------  -->

</div>
 

<div class="more-content"></div>

<!--  Wait while loading...  -->
<ng-template #loading>

    <div class="my-spinner">

        <div class="spinner-border txt-blue" role="status" *ngIf="!serverError">
          <span class="sr-only">Loading...</span>
        </div>

        <img class="img-fluid w-100" src="/assets/images/server-error.png" *ngIf="serverError">
    </div>

</ng-template>