.product-details {
  box-sizing: border-box;
  display: flex;
  min-height: 85vh;
  align-items: flex-start;
  background-color: #fff;
}

.product-image-wrapper {
  flex: 1;
  /** (1) Make left content(flex-item) sticky (for scrollable part) **/
  position: sticky;
  top: 60px;
}

.product-image {
  display: flex;
  border: 1px solid #f0f0f0;
}

.image-select-bar {
  flex: 1;
}

.selected-image {
  flex: 6;
  text-align: center;
  display: flex;
}

.selected-image img {
  margin: auto;
  max-width: 95%;
}

.purchase-btn {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  margin-left: 75px;
}

.purchase-btn button {
  padding: 1em 1.5em;
  box-shadow: 1px 2px 0 rgba(0,0,0,.2);
  border-radius: 2px;
  border: none;
  color: #fff;
  width: 48.8%;
}

.purchase-btn .fa-bolt, .purchase-btn .fa-shopping-cart {
  margin-right: 15px;
}

.purchase-btn .add-to-cart {
  background-color: #ff9f00;
}

.purchase-btn .buy-now {
  background-color: #fb641b;
}

.compare, .share {
  float: right;
  font-size: .9em;
}

.icon-share {
  margin-right: 10px;
  color: #a9a9a9;
}

.share {
  margin-left: 2em;
}

.details {
  flex: 1.5;
  padding: 10px 10px 10px 20px;
  border: 1px solid #f0f0f0;
  /** (2) Make right content(flex-item) sticky (for scrollable part) **/
  position: sticky;
  top: 100px;
  min-height: 100vh;
}

/* Item details */
.item .item-description {
  flex: 2;
  padding-top: 6px;
}

.item .item-description p {
  margin-bottom: .7rem;
}

.item .item-description span {
  font-size: .85em;
}

.item .item-description .item-ratings {
  padding: 3px 5px;
  background-color: green;
  color: white;
  border-radius: 2px;
}

.item .item-description ul{
  flex: 2;
  list-style: none;
  font-size: .9em;
  padding: 1em .5em;
}

.item .item-description ul li::before {
  content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
  color: lightgrey; /* Change the color */
  font-weight: bold; /* If you want it to be bold */
  display: inline-block; /* Needed to add space between the bullet and the text */
  width: 1em; /* Also needed for space (tweak if needed) */
}

.item .item-cost .discount {
  font-size: .9em;
  color: green;
}

.item .item-cost p {
  margin-bottom: 0.2rem;
}

.item .item-cost .mrp, .discount-percent {
  vertical-align: middle;
  font-size: .6em;
  margin: 0 10px;
}

.item .item-cost .mrp {
  text-decoration: line-through;
}

.item .item-cost .discount-percent {
  color: green;
}

/**  Offers section  **/
.offers ul {
  list-style: none;
  padding: 0;
  color: #343a40;
  line-height: 2;
}

.offers i {
  color: rgb(20, 185, 20);
  margin-right: 10px; 
}

.offers a {
  text-decoration: none;
}

.offers .icon-chevron-right {
  color: #2874f0;
  font-size: .7rem; 
  position: relative;
  bottom: 1px;
}

.offers .category {
  font-weight: 600;
}

.offers span {
  margin-right: 5px;
}

.offers .view-more {
  color: #2874f0;
  cursor: pointer;
}


/****    Media Queries  ****/
@media screen and (max-width: 768px) {

  .purchase-btn button {
    width: 100%;
    margin: 10px 0; 
  }
  
}

@media screen and (max-width: 700px) {

  .purchase-btn {
    margin-left: 0;
  }
  .purchase-btn button {
    margin: 10px 5px 10px 10px; 
  }
  
}

/**   =================    */

.scroll-to-top {
  width: 140px;
  padding: 8px 0px;
  background-color: #fff;
  color: #2874f0;
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  margin: 0px auto;
  border: 1px solid #e0e0e0;
  border-radius: 4px;
  box-shadow: 0 3px 16px 0 rgba(0, 0, 0, 0.11);
  cursor: pointer;
  z-index: -10;
  position: fixed;
  left: 45%;
  visibility: hidden;
}

.scroll-to-top .icon-chevron-up {
  font-size: 11px;
  margin-right: 6px;
  position: relative;
  bottom: 2px;
}

.scroll-to-top.visible {
  visibility: visible;
  transform: translateY(175%);
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

.header {
  width: 100%;
  position: fixed;
  background-color: #17a2b8;
  top: 0;
}

.header h1 {
  text-align: center;
}

.scrollable {
  display: flex;
}

.sidediv,
.content,
.more {
  padding: 10px 15px;
  z-index: -20;
}

.sidediv {
  background-color: palegreen;
  flex: 2;
  height: 92vh;
  position: sticky;
  left: 0;
  top: 60px;
}

.content {
  background-color: #ff00ff;
  flex: 3;
  margin-top: 60px;
  position: sticky;
  right: 0;
  top: 100px;
}

.content p {
  color: #000;
  margin-bottom: 50px;
}

.more {
  color: brown;
  margin-bottom: 600px;
}

.nowGo {
  position: relative;
  top: 10px;
}


/* Checkbox */
.checkbox {
  font-weight: 400;
}
.checkbox label:after {
  content: "";
  display: table;
  clear: both;
}

.checkbox .cr {
  position: relative;
  display: block;
  border: 1px solid #a9a9a9;
  border-radius: 0.1em;
  width: 1em;
  height: 1em;
  float: left;
  margin: 0.2em 0.4em;
}

.checkbox .cr .cr-icon {
  position: absolute;
  font-size: 1.1em;
  color: #2874f0;
  line-height: 0;
  top: 50%;
  left: 0%;
}

.checkbox label input[type="checkbox"] {
  display: none;
}

.checkbox label input[type="checkbox"] + .cr > .cr-icon {
  opacity: 0;
}

.checkbox label input[type="checkbox"]:checked + .cr > .cr-icon {
  opacity: 1;
}