.ratings-and-reviews-view {
  width: 100%;
  margin-top: 25px;
}

.ratings-and-reviews {
  border: 1px solid #f0f0f0;
  border-radius: 2px;
}

.header h3 {
  display: inline-block;
  font-weight: 600;
  font-size: 24px;
  padding: 24px 30px 24px 24px;
}

.header button {
  padding: 1em 1.5em;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
  border-radius: 2px;
  border: none;
  outline: none;
  background-color: #fff;
  font-weight: 600;
  width: 25%;
  float: right;
  margin: 15px 20px 0 0;
}

.ratings {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  padding: 0px 10px 24px 24px;
}

.icon-rating {
  position: relative;
  font-size: 24px;
  bottom: 3px;
}

.content .ratings .average-rating {
  flex: 1;
  display: flex;
  font-size: 2.4em;
}

.average-rating .average-rating-container {
  text-align: center;
  margin: auto 0;
  padding-bottom: 10px;
}

.average-rating .rar {
  font-size: 15px;
  color: #878787;
}

.content .ratings .bar-rating {
  flex: 1.5;
  margin: auto;
}

.content .ratings .circle-rating {
  flex: 2.5;
  display: flex;
  align-items: center;
}

.param-rating-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
}

.param-rating-container .param-rating {
  width: 70px;
  margin: 10px 8px;
}

.param-rating .param {
  font-size: 15px;
  font-weight: 600;
  text-align: center;
  clear: both;
}

@media screen and (max-width: 768px) {
  .ratings .circle-rating {
    flex: none !important;
    width: 100%;
    margin-top: 2em;
  }

  .param-rating-container {
    margin: auto;
  }

  .ratings .bar-rating {
    margin-right: 10%;
  }

  .ratings .average-rating {
    margin-left: 7%;
  }

  .header button {
    padding: 0.7em 1.2em;
    width: auto;
  }
}

@media screen and (max-width: 486px) {
  .ratings .average-rating {
    margin-left: 3%;
  }

  .header button {
    font-size: .9em;
    padding: .3em .5em;
    margin-top: 1.2em;
  }

  .header h3 {
    font-size: 1.1em;
  }
}

@media screen and (max-width: 460px) {
  .ratings .average-rating, .ratings .bar-rating {
    flex: none !important;
    margin-left: 0;
    width: 100%;
  }

  .average-rating-container {
    margin: auto !important;
  }

  .bar-rating-container {
    margin-left: 10% !important;
  }

}

@media screen and (max-width: 380px) {
  .header h3 {
    padding-left: 15px;
  }

  .header button {
    margin-right: 10px;
  }
}

@media screen and (max-width: 355px) {
  .header h3 {
    padding: 10px;
  }
  .header button {
   font-weight: 400;
   padding: .2em .3em;
   margin-top: 5px;
  }
}