/* You can add global styles to this file, and also import other style files */

/*******  Margin  *******/
.mrtp-2 {
  margin-top: 2em;
}
.mrtp-1 {
  margin-top: 1em;
}

/*******  Cursor  *******/
.cur-p {
  cursor: pointer;
}

/*******  Display  *******/
.disp-ib {
  display: inline-block;
}

.disp-b {
  display: block;
}

.disp-i {
  display: inline;
}

/*******  Position  *******/
.float-right {
  float: right;
}

.float-left {
  float: left;
}

/*******  Colors  *******/
.col-txt-info {
  color: #17a2b8;
}

/*******   Text   *******/
.txt-dec-ul {
  text-decoration: underline;
}

.txt-dec-lt {
  text-decoration: line-through;
}

.txt-dec-none {
  text-decoration: none;
}


/*******  Navbar  *******/
.brand-name {
  font-weight: bold;
  font-size: 1.5em;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

