.delivery {
  width: 100%;
}

.delivery a {
  text-decoration: none;
  color: #0d63ee;
}

.pincode {
  border-bottom: 1px solid lightgrey;
  position: relative;
}

.pincode input {
  padding: 3px 5px;
  border: none;
  color: black;
  outline: none;
  width: 250px;
}

.pincode a {
  position: absolute;
  right: 0px;
  top: 3px;
}

.delivery-details p {
  margin: 7px 0;
}

.underline {
  border-bottom: 2px solid #0d63ee !important;
}

@media screen and (max-width: 440px) {
  .delivery {
    display: block !important;
    flex-basis: 100%;
  }
}
